ValidateDomainService/resources/ValidateDomainService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.domain.validate.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.domain.validate.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation>ValidateDomainService</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.domain.validate.carbon.wso2.org">
            <xs:element name="ValidateDomainServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ValidateDomainServiceException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="validateByTextInRoot">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateByTextInRootResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateByDNSEntry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateByDNSEntryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDomainValidationKey">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDomainValidationKeyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="validateByDNSEntryRequest">
    <wsdl:part name="parameters" element="ns:validateByDNSEntry">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateByTextInRootRequest">
    <wsdl:part name="parameters" element="ns:validateByTextInRoot">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDomainValidationKeyRequest">
    <wsdl:part name="parameters" element="ns:getDomainValidationKey">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDomainValidationKeyResponse">
    <wsdl:part name="parameters" element="ns:getDomainValidationKeyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ValidateDomainServiceException">
    <wsdl:part name="parameters" element="ns:ValidateDomainServiceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateByDNSEntryResponse">
    <wsdl:part name="parameters" element="ns:validateByDNSEntryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateByTextInRootResponse">
    <wsdl:part name="parameters" element="ns:validateByTextInRootResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ValidateDomainServicePortType">
    <wsdl:operation name="validateByTextInRoot">
      <wsdl:input message="ns:validateByTextInRootRequest" wsaw:Action="urn:validateByTextInRoot">
    </wsdl:input>
      <wsdl:output message="ns:validateByTextInRootResponse" wsaw:Action="urn:validateByTextInRootResponse">
    </wsdl:output>
      <wsdl:fault name="ValidateDomainServiceException" message="ns:ValidateDomainServiceException" wsaw:Action="urn:validateByTextInRootValidateDomainServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateByDNSEntry">
      <wsdl:input message="ns:validateByDNSEntryRequest" wsaw:Action="urn:validateByDNSEntry">
    </wsdl:input>
      <wsdl:output message="ns:validateByDNSEntryResponse" wsaw:Action="urn:validateByDNSEntryResponse">
    </wsdl:output>
      <wsdl:fault name="ValidateDomainServiceException" message="ns:ValidateDomainServiceException" wsaw:Action="urn:validateByDNSEntryValidateDomainServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDomainValidationKey">
      <wsdl:input message="ns:getDomainValidationKeyRequest" wsaw:Action="urn:getDomainValidationKey">
    </wsdl:input>
      <wsdl:output message="ns:getDomainValidationKeyResponse" wsaw:Action="urn:getDomainValidationKeyResponse">
    </wsdl:output>
      <wsdl:fault name="ValidateDomainServiceException" message="ns:ValidateDomainServiceException" wsaw:Action="urn:getDomainValidationKeyValidateDomainServiceException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidateDomainServiceHttpBinding" type="ns:ValidateDomainServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="validateByTextInRoot">
      <http:operation location="validateByTextInRoot"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateByDNSEntry">
      <http:operation location="validateByDNSEntry"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDomainValidationKey">
      <http:operation location="getDomainValidationKey"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ValidateDomainServiceSoap11Binding" type="ns:ValidateDomainServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="validateByTextInRoot">
      <soap:operation soapAction="urn:validateByTextInRoot" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidateDomainServiceException">
        <soap:fault name="ValidateDomainServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateByDNSEntry">
      <soap:operation soapAction="urn:validateByDNSEntry" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidateDomainServiceException">
        <soap:fault name="ValidateDomainServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDomainValidationKey">
      <soap:operation soapAction="urn:getDomainValidationKey" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidateDomainServiceException">
        <soap:fault name="ValidateDomainServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ValidateDomainServiceSoap12Binding" type="ns:ValidateDomainServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="validateByTextInRoot">
      <soap12:operation soapAction="urn:validateByTextInRoot" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidateDomainServiceException">
        <soap12:fault name="ValidateDomainServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateByDNSEntry">
      <soap12:operation soapAction="urn:validateByDNSEntry" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidateDomainServiceException">
        <soap12:fault name="ValidateDomainServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDomainValidationKey">
      <soap12:operation soapAction="urn:getDomainValidationKey" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidateDomainServiceException">
        <soap12:fault name="ValidateDomainServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidateDomainService">
    <wsdl:port name="ValidateDomainServiceHttpsEndpoint" binding="ns:ValidateDomainServiceHttpBinding">
      <http:address location="https://cloud-test.wso2.com:9443/services/ValidateDomainService.ValidateDomainServiceHttpsEndpoint/"/>
    </wsdl:port>
    <wsdl:port name="ValidateDomainServiceHttpsSoap12Endpoint" binding="ns:ValidateDomainServiceSoap12Binding">
      <soap12:address location="https://cloud-test.wso2.com:9443/services/ValidateDomainService.ValidateDomainServiceHttpsSoap12Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="ValidateDomainServiceHttpsSoap11Endpoint" binding="ns:ValidateDomainServiceSoap11Binding">
      <soap:address location="https://cloud-test.wso2.com:9443/services/ValidateDomainService.ValidateDomainServiceHttpsSoap11Endpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
