3553910808312544E12/resources/ServiceStatPublisherAdmin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.servicestats.publisher.data.bam.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.servicestats.publisher.data.bam.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax211="http://config.servicestats.publisher.data.bam.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation>ServiceStatPublisherAdmin</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd" xmlns:ax212="http://config.servicestats.publisher.data.bam.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd">
            <xs:import namespace="http://config.servicestats.publisher.data.bam.carbon.wso2.org/xsd"/>
            <xs:element name="getEventingConfigData">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEventingConfigDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax212:EventingConfigData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ServiceStatPublisherAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ServiceStatPublisherAdminException" nillable="true" type="ns1:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="configureEventing">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventingConfigData" nillable="true" type="ax212:EventingConfigData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://config.servicestats.publisher.data.bam.carbon.wso2.org/xsd">
            <xs:complexType name="EventingConfigData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="enableEventing" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="systemRequestCountThreshold" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="getEventingConfigDataResponse">
    <wsdl:part name="parameters" element="ns1:getEventingConfigDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ServiceStatPublisherAdminException">
    <wsdl:part name="parameters" element="ns1:ServiceStatPublisherAdminException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="configureEventingRequest">
    <wsdl:part name="parameters" element="ns1:configureEventing">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEventingConfigDataRequest">
    <wsdl:part name="parameters" element="ns1:getEventingConfigData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServiceStatPublisherAdminPortType">
    <wsdl:operation name="configureEventing">
      <wsdl:input message="tns:configureEventingRequest" wsaw:Action="urn:configureEventing">
    </wsdl:input>
      <wsdl:fault name="ServiceStatPublisherAdminException" message="tns:ServiceStatPublisherAdminException" wsaw:Action="urn:configureEventingServiceStatPublisherAdminException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEventingConfigData">
      <wsdl:input message="tns:getEventingConfigDataRequest" wsaw:Action="urn:getEventingConfigData">
    </wsdl:input>
      <wsdl:output message="tns:getEventingConfigDataResponse" wsaw:Action="urn:getEventingConfigDataResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceStatPublisherAdminSoap12Binding" type="tns:ServiceStatPublisherAdminPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="configureEventing">
      <soap12:operation soapAction="urn:configureEventing" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="ServiceStatPublisherAdminException">
        <soap12:fault name="ServiceStatPublisherAdminException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEventingConfigData">
      <soap12:operation soapAction="urn:getEventingConfigData" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceStatPublisherAdminSoap11Binding" type="tns:ServiceStatPublisherAdminPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="configureEventing">
      <soap:operation soapAction="urn:configureEventing" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="ServiceStatPublisherAdminException">
        <soap:fault name="ServiceStatPublisherAdminException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEventingConfigData">
      <soap:operation soapAction="urn:getEventingConfigData" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceStatPublisherAdminHttpBinding" type="tns:ServiceStatPublisherAdminPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="configureEventing">
      <http:operation location="configureEventing"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getEventingConfigData">
      <http:operation location="getEventingConfigData"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceStatPublisherAdmin">
    <wsdl:port name="ServiceStatPublisherAdminHttpsEndpoint" binding="tns:ServiceStatPublisherAdminHttpBinding">
      <http:address location="https://appserver.cloud-test.wso2.com:9446/services/ServiceStatPublisherAdmin.ServiceStatPublisherAdminHttpsEndpoint/"/>
    </wsdl:port>
    <wsdl:port name="ServiceStatPublisherAdminHttpsSoap11Endpoint" binding="tns:ServiceStatPublisherAdminSoap11Binding">
      <soap:address location="https://appserver.cloud-test.wso2.com:9446/services/ServiceStatPublisherAdmin.ServiceStatPublisherAdminHttpsSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="ServiceStatPublisherAdminHttpsSoap12Endpoint" binding="tns:ServiceStatPublisherAdminSoap12Binding">
      <soap12:address location="https://appserver.cloud-test.wso2.com:9446/services/ServiceStatPublisherAdmin.ServiceStatPublisherAdminHttpsSoap12Endpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
