ProfileAdminService/resources/ProfileAdminService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mgt.profiles.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://mgt.profiles.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2312="http://mgt.profiles.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2314="http://dto.mgt.profiles.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation>ProfileAdminService</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.mgt.profiles.carbon.wso2.org/xsd">
            <xs:complexType name="ClaimConfigurationDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="behavior" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="claimUri" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DialectDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dialectUri" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="profileConfigurations" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AvailableProfileConfigurationDTO">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="dialects" nillable="true" type="ax2314:DialectDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DetailedProfileConfigurationDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dialect" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="profileConfiguartions" nillable="true" type="ax2314:ProfileConfigurationDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProfileConfigurationDTO">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="claimConfiguration" nillable="true" type="ax2314:ClaimConfigurationDTO"/>
                    <xs:element minOccurs="0" name="configurationName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.profiles.carbon.wso2.org/xsd">
            <xs:complexType name="ProfileManagementException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.profiles.carbon.wso2.org" xmlns:ax2313="http://mgt.profiles.carbon.wso2.org/xsd" xmlns:ax2315="http://dto.mgt.profiles.carbon.wso2.org/xsd">
            <xs:import namespace="http://mgt.profiles.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dto.mgt.profiles.carbon.wso2.org/xsd"/>
            <xs:element name="ProfileAdminServiceProfileManagementException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ProfileManagementException" nillable="true" type="ax2312:ProfileManagementException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateClaimMappingBehavior">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="claimsConfiguration" nillable="true" type="ax2314:ClaimConfigurationDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isAddProfileEnabled">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="isAddProfileEnabledResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProfileConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dialect" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="profileConfig" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProfileConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2314:ClaimConfigurationDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDialectsForUserStore">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDialectsForUserStoreResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2314:DialectDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDialects">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDialectsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2314:DialectDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClaimConfigurations">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dialect" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClaimConfigurationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2314:ClaimConfigurationDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllAvailableProfileConfiguraionsForUserStore">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userStore" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllAvailableProfileConfiguraionsForUserStoreResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2314:AvailableProfileConfigurationDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllAvailableProfileConfiguraionsForDialect">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dialect" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllAvailableProfileConfiguraionsForDialectResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2314:DetailedProfileConfigurationDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllAvailableProfileConfiguraions">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllAvailableProfileConfiguraionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2314:AvailableProfileConfigurationDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteProfileConfiguraiton">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dialect" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="dialectName" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="claimsConfiguration" nillable="true" type="ax2314:ClaimConfigurationDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="getClaimConfigurationsResponse">
    <wsdl:part name="parameters" element="ns:getClaimConfigurationsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDialectsForUserStoreRequest">
    <wsdl:part name="parameters" element="ns:getDialectsForUserStore">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProfileConfigurationRequest">
    <wsdl:part name="parameters" element="ns:getProfileConfiguration">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClaimConfigurationsRequest">
    <wsdl:part name="parameters" element="ns:getClaimConfigurations">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllAvailableProfileConfiguraionsForDialectRequest">
    <wsdl:part name="parameters" element="ns:getAllAvailableProfileConfiguraionsForDialect">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProfileAdminServiceProfileManagementException">
    <wsdl:part name="parameters" element="ns:ProfileAdminServiceProfileManagementException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDialectsResponse">
    <wsdl:part name="parameters" element="ns:getDialectsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isAddProfileEnabledResponse">
    <wsdl:part name="parameters" element="ns:isAddProfileEnabledResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateClaimMappingBehaviorRequest">
    <wsdl:part name="parameters" element="ns:updateClaimMappingBehavior">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isAddProfileEnabledRequest">
    <wsdl:part name="parameters" element="ns:isAddProfileEnabled">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProfileConfiguraitonRequest">
    <wsdl:part name="parameters" element="ns:deleteProfileConfiguraiton">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProfileConfigurationResponse">
    <wsdl:part name="parameters" element="ns:getProfileConfigurationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllAvailableProfileConfiguraionsForUserStoreResponse">
    <wsdl:part name="parameters" element="ns:getAllAvailableProfileConfiguraionsForUserStoreResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllAvailableProfileConfiguraionsRequest">
    <wsdl:part name="parameters" element="ns:getAllAvailableProfileConfiguraions">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllAvailableProfileConfiguraionsForDialectResponse">
    <wsdl:part name="parameters" element="ns:getAllAvailableProfileConfiguraionsForDialectResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDialectsForUserStoreResponse">
    <wsdl:part name="parameters" element="ns:getDialectsForUserStoreResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDialectsRequest">
    <wsdl:part name="parameters" element="ns:getDialects">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllAvailableProfileConfiguraionsForUserStoreRequest">
    <wsdl:part name="parameters" element="ns:getAllAvailableProfileConfiguraionsForUserStore">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addProfileRequest">
    <wsdl:part name="parameters" element="ns:addProfile">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllAvailableProfileConfiguraionsResponse">
    <wsdl:part name="parameters" element="ns:getAllAvailableProfileConfiguraionsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProfileAdminServicePortType">
    <wsdl:operation name="isAddProfileEnabled">
      <wsdl:input message="ns:isAddProfileEnabledRequest" wsaw:Action="urn:isAddProfileEnabled">
    </wsdl:input>
      <wsdl:output message="ns:isAddProfileEnabledResponse" wsaw:Action="urn:isAddProfileEnabledResponse">
    </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException" message="ns:ProfileAdminServiceProfileManagementException" wsaw:Action="urn:isAddProfileEnabledProfileAdminServiceProfileManagementException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProfileConfiguration">
      <wsdl:input message="ns:getProfileConfigurationRequest" wsaw:Action="urn:getProfileConfiguration">
    </wsdl:input>
      <wsdl:output message="ns:getProfileConfigurationResponse" wsaw:Action="urn:getProfileConfigurationResponse">
    </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException" message="ns:ProfileAdminServiceProfileManagementException" wsaw:Action="urn:getProfileConfigurationProfileAdminServiceProfileManagementException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateClaimMappingBehavior">
      <wsdl:input message="ns:updateClaimMappingBehaviorRequest" wsaw:Action="urn:updateClaimMappingBehavior">
    </wsdl:input>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException" message="ns:ProfileAdminServiceProfileManagementException" wsaw:Action="urn:updateClaimMappingBehaviorProfileAdminServiceProfileManagementException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addProfile">
      <wsdl:input message="ns:addProfileRequest" wsaw:Action="urn:addProfile">
    </wsdl:input>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException" message="ns:ProfileAdminServiceProfileManagementException" wsaw:Action="urn:addProfileProfileAdminServiceProfileManagementException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllAvailableProfileConfiguraions">
      <wsdl:input message="ns:getAllAvailableProfileConfiguraionsRequest" wsaw:Action="urn:getAllAvailableProfileConfiguraions">
    </wsdl:input>
      <wsdl:output message="ns:getAllAvailableProfileConfiguraionsResponse" wsaw:Action="urn:getAllAvailableProfileConfiguraionsResponse">
    </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException" message="ns:ProfileAdminServiceProfileManagementException" wsaw:Action="urn:getAllAvailableProfileConfiguraionsProfileAdminServiceProfileManagementException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getClaimConfigurations">
      <wsdl:input message="ns:getClaimConfigurationsRequest" wsaw:Action="urn:getClaimConfigurations">
    </wsdl:input>
      <wsdl:output message="ns:getClaimConfigurationsResponse" wsaw:Action="urn:getClaimConfigurationsResponse">
    </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException" message="ns:ProfileAdminServiceProfileManagementException" wsaw:Action="urn:getClaimConfigurationsProfileAdminServiceProfileManagementException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDialects">
      <wsdl:input message="ns:getDialectsRequest" wsaw:Action="urn:getDialects">
    </wsdl:input>
      <wsdl:output message="ns:getDialectsResponse" wsaw:Action="urn:getDialectsResponse">
    </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException" message="ns:ProfileAdminServiceProfileManagementException" wsaw:Action="urn:getDialectsProfileAdminServiceProfileManagementException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllAvailableProfileConfiguraionsForUserStore">
      <wsdl:input message="ns:getAllAvailableProfileConfiguraionsForUserStoreRequest" wsaw:Action="urn:getAllAvailableProfileConfiguraionsForUserStore">
    </wsdl:input>
      <wsdl:output message="ns:getAllAvailableProfileConfiguraionsForUserStoreResponse" wsaw:Action="urn:getAllAvailableProfileConfiguraionsForUserStoreResponse">
    </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException" message="ns:ProfileAdminServiceProfileManagementException" wsaw:Action="urn:getAllAvailableProfileConfiguraionsForUserStoreProfileAdminServiceProfileManagementException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDialectsForUserStore">
      <wsdl:input message="ns:getDialectsForUserStoreRequest" wsaw:Action="urn:getDialectsForUserStore">
    </wsdl:input>
      <wsdl:output message="ns:getDialectsForUserStoreResponse" wsaw:Action="urn:getDialectsForUserStoreResponse">
    </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException" message="ns:ProfileAdminServiceProfileManagementException" wsaw:Action="urn:getDialectsForUserStoreProfileAdminServiceProfileManagementException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteProfileConfiguraiton">
      <wsdl:input message="ns:deleteProfileConfiguraitonRequest" wsaw:Action="urn:deleteProfileConfiguraiton">
    </wsdl:input>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException" message="ns:ProfileAdminServiceProfileManagementException" wsaw:Action="urn:deleteProfileConfiguraitonProfileAdminServiceProfileManagementException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllAvailableProfileConfiguraionsForDialect">
      <wsdl:input message="ns:getAllAvailableProfileConfiguraionsForDialectRequest" wsaw:Action="urn:getAllAvailableProfileConfiguraionsForDialect">
    </wsdl:input>
      <wsdl:output message="ns:getAllAvailableProfileConfiguraionsForDialectResponse" wsaw:Action="urn:getAllAvailableProfileConfiguraionsForDialectResponse">
    </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException" message="ns:ProfileAdminServiceProfileManagementException" wsaw:Action="urn:getAllAvailableProfileConfiguraionsForDialectProfileAdminServiceProfileManagementException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProfileAdminServiceSoap12Binding" type="ns:ProfileAdminServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="isAddProfileEnabled">
      <soap12:operation soapAction="urn:isAddProfileEnabled" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException">
        <soap12:fault name="ProfileAdminServiceProfileManagementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProfileConfiguration">
      <soap12:operation soapAction="urn:getProfileConfiguration" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException">
        <soap12:fault name="ProfileAdminServiceProfileManagementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateClaimMappingBehavior">
      <soap12:operation soapAction="urn:updateClaimMappingBehavior" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException">
        <soap12:fault name="ProfileAdminServiceProfileManagementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllAvailableProfileConfiguraions">
      <soap12:operation soapAction="urn:getAllAvailableProfileConfiguraions" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException">
        <soap12:fault name="ProfileAdminServiceProfileManagementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addProfile">
      <soap12:operation soapAction="urn:addProfile" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException">
        <soap12:fault name="ProfileAdminServiceProfileManagementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getClaimConfigurations">
      <soap12:operation soapAction="urn:getClaimConfigurations" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException">
        <soap12:fault name="ProfileAdminServiceProfileManagementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDialects">
      <soap12:operation soapAction="urn:getDialects" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException">
        <soap12:fault name="ProfileAdminServiceProfileManagementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllAvailableProfileConfiguraionsForUserStore">
      <soap12:operation soapAction="urn:getAllAvailableProfileConfiguraionsForUserStore" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException">
        <soap12:fault name="ProfileAdminServiceProfileManagementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDialectsForUserStore">
      <soap12:operation soapAction="urn:getDialectsForUserStore" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException">
        <soap12:fault name="ProfileAdminServiceProfileManagementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteProfileConfiguraiton">
      <soap12:operation soapAction="urn:deleteProfileConfiguraiton" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException">
        <soap12:fault name="ProfileAdminServiceProfileManagementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllAvailableProfileConfiguraionsForDialect">
      <soap12:operation soapAction="urn:getAllAvailableProfileConfiguraionsForDialect" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException">
        <soap12:fault name="ProfileAdminServiceProfileManagementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProfileAdminServiceSoap11Binding" type="ns:ProfileAdminServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="isAddProfileEnabled">
      <soap:operation soapAction="urn:isAddProfileEnabled" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException">
        <soap:fault name="ProfileAdminServiceProfileManagementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProfileConfiguration">
      <soap:operation soapAction="urn:getProfileConfiguration" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException">
        <soap:fault name="ProfileAdminServiceProfileManagementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateClaimMappingBehavior">
      <soap:operation soapAction="urn:updateClaimMappingBehavior" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException">
        <soap:fault name="ProfileAdminServiceProfileManagementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllAvailableProfileConfiguraions">
      <soap:operation soapAction="urn:getAllAvailableProfileConfiguraions" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException">
        <soap:fault name="ProfileAdminServiceProfileManagementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addProfile">
      <soap:operation soapAction="urn:addProfile" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException">
        <soap:fault name="ProfileAdminServiceProfileManagementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getClaimConfigurations">
      <soap:operation soapAction="urn:getClaimConfigurations" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException">
        <soap:fault name="ProfileAdminServiceProfileManagementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDialects">
      <soap:operation soapAction="urn:getDialects" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException">
        <soap:fault name="ProfileAdminServiceProfileManagementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllAvailableProfileConfiguraionsForUserStore">
      <soap:operation soapAction="urn:getAllAvailableProfileConfiguraionsForUserStore" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException">
        <soap:fault name="ProfileAdminServiceProfileManagementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDialectsForUserStore">
      <soap:operation soapAction="urn:getDialectsForUserStore" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException">
        <soap:fault name="ProfileAdminServiceProfileManagementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteProfileConfiguraiton">
      <soap:operation soapAction="urn:deleteProfileConfiguraiton" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException">
        <soap:fault name="ProfileAdminServiceProfileManagementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllAvailableProfileConfiguraionsForDialect">
      <soap:operation soapAction="urn:getAllAvailableProfileConfiguraionsForDialect" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProfileAdminServiceProfileManagementException">
        <soap:fault name="ProfileAdminServiceProfileManagementException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProfileAdminServiceHttpBinding" type="ns:ProfileAdminServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="isAddProfileEnabled">
      <http:operation location="isAddProfileEnabled"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfileConfiguration">
      <http:operation location="getProfileConfiguration"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateClaimMappingBehavior">
      <http:operation location="updateClaimMappingBehavior"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getAllAvailableProfileConfiguraions">
      <http:operation location="getAllAvailableProfileConfiguraions"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addProfile">
      <http:operation location="addProfile"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getClaimConfigurations">
      <http:operation location="getClaimConfigurations"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDialects">
      <http:operation location="getDialects"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAvailableProfileConfiguraionsForUserStore">
      <http:operation location="getAllAvailableProfileConfiguraionsForUserStore"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDialectsForUserStore">
      <http:operation location="getDialectsForUserStore"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteProfileConfiguraiton">
      <http:operation location="deleteProfileConfiguraiton"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getAllAvailableProfileConfiguraionsForDialect">
      <http:operation location="getAllAvailableProfileConfiguraionsForDialect"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfileAdminService">
    <wsdl:port name="ProfileAdminServiceHttpsSoap11Endpoint" binding="ns:ProfileAdminServiceSoap11Binding">
      <soap:address location="https://identity.cloud-test.wso2.com:9444/services/ProfileAdminService.ProfileAdminServiceHttpsSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="ProfileAdminServiceHttpsEndpoint" binding="ns:ProfileAdminServiceHttpBinding">
      <http:address location="https://identity.cloud-test.wso2.com:9444/services/ProfileAdminService.ProfileAdminServiceHttpsEndpoint/"/>
    </wsdl:port>
    <wsdl:port name="ProfileAdminServiceHttpsSoap12Endpoint" binding="ns:ProfileAdminServiceSoap12Binding">
      <soap12:address location="https://identity.cloud-test.wso2.com:9444/services/ProfileAdminService.ProfileAdminServiceHttpsSoap12Endpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
