RelyingPartyAdminService/resources/RelyingPartyAdminService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://provider.identity.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://provider.identity.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2282="http://dto.provider.identity.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation>RelyingPartyAdminService</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd" xmlns:ax2283="http://dto.provider.identity.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd">
            <xs:import namespace="http://dto.provider.identity.carbon.wso2.org/xsd"/>
            <xs:element name="RelyingPartyAdminServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RelyingPartyAdminServiceException" nillable="true" type="ns1:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="removeUserTrustedRelyingParty">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userrp" nillable="true" type="ax2282:UserTrustedRPDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllUserTrustedRelyingParties">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllUserTrustedRelyingPartiesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2282:UserTrustedRPDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createUserTrustedRP">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userrp" nillable="true" type="ax2282:UserTrustedRPDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.provider.identity.carbon.wso2.org/xsd">
            <xs:complexType name="UserTrustedRPDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="certificateAlias" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fileContent" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="getAllUserTrustedRelyingPartiesResponse">
    <wsdl:part name="parameters" element="ns1:getAllUserTrustedRelyingPartiesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeUserTrustedRelyingPartyRequest">
    <wsdl:part name="parameters" element="ns1:removeUserTrustedRelyingParty">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RelyingPartyAdminServiceException">
    <wsdl:part name="parameters" element="ns1:RelyingPartyAdminServiceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUserTrustedRPRequest">
    <wsdl:part name="parameters" element="ns1:createUserTrustedRP">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllUserTrustedRelyingPartiesRequest">
    <wsdl:part name="parameters" element="ns1:getAllUserTrustedRelyingParties">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RelyingPartyAdminServicePortType">
    <wsdl:operation name="createUserTrustedRP">
      <wsdl:input message="tns:createUserTrustedRPRequest" wsaw:Action="urn:createUserTrustedRP">
    </wsdl:input>
      <wsdl:fault name="RelyingPartyAdminServiceException" message="tns:RelyingPartyAdminServiceException" wsaw:Action="urn:createUserTrustedRPRelyingPartyAdminServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeUserTrustedRelyingParty">
      <wsdl:input message="tns:removeUserTrustedRelyingPartyRequest" wsaw:Action="urn:removeUserTrustedRelyingParty">
    </wsdl:input>
      <wsdl:fault name="RelyingPartyAdminServiceException" message="tns:RelyingPartyAdminServiceException" wsaw:Action="urn:removeUserTrustedRelyingPartyRelyingPartyAdminServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllUserTrustedRelyingParties">
      <wsdl:input message="tns:getAllUserTrustedRelyingPartiesRequest" wsaw:Action="urn:getAllUserTrustedRelyingParties">
    </wsdl:input>
      <wsdl:output message="tns:getAllUserTrustedRelyingPartiesResponse" wsaw:Action="urn:getAllUserTrustedRelyingPartiesResponse">
    </wsdl:output>
      <wsdl:fault name="RelyingPartyAdminServiceException" message="tns:RelyingPartyAdminServiceException" wsaw:Action="urn:getAllUserTrustedRelyingPartiesRelyingPartyAdminServiceException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RelyingPartyAdminServiceSoap11Binding" type="tns:RelyingPartyAdminServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createUserTrustedRP">
      <soap:operation soapAction="urn:createUserTrustedRP" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="RelyingPartyAdminServiceException">
        <soap:fault name="RelyingPartyAdminServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeUserTrustedRelyingParty">
      <soap:operation soapAction="urn:removeUserTrustedRelyingParty" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="RelyingPartyAdminServiceException">
        <soap:fault name="RelyingPartyAdminServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllUserTrustedRelyingParties">
      <soap:operation soapAction="urn:getAllUserTrustedRelyingParties" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RelyingPartyAdminServiceException">
        <soap:fault name="RelyingPartyAdminServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RelyingPartyAdminServiceSoap12Binding" type="tns:RelyingPartyAdminServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createUserTrustedRP">
      <soap12:operation soapAction="urn:createUserTrustedRP" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="RelyingPartyAdminServiceException">
        <soap12:fault name="RelyingPartyAdminServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeUserTrustedRelyingParty">
      <soap12:operation soapAction="urn:removeUserTrustedRelyingParty" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="RelyingPartyAdminServiceException">
        <soap12:fault name="RelyingPartyAdminServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllUserTrustedRelyingParties">
      <soap12:operation soapAction="urn:getAllUserTrustedRelyingParties" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RelyingPartyAdminServiceException">
        <soap12:fault name="RelyingPartyAdminServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RelyingPartyAdminServiceHttpBinding" type="tns:RelyingPartyAdminServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="createUserTrustedRP">
      <http:operation location="createUserTrustedRP"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="removeUserTrustedRelyingParty">
      <http:operation location="removeUserTrustedRelyingParty"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getAllUserTrustedRelyingParties">
      <http:operation location="getAllUserTrustedRelyingParties"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RelyingPartyAdminService">
    <wsdl:port name="RelyingPartyAdminServiceHttpsEndpoint" binding="tns:RelyingPartyAdminServiceHttpBinding">
      <http:address location="https://appserver.cloud-test.wso2.com:9446/services/RelyingPartyAdminService.RelyingPartyAdminServiceHttpsEndpoint/"/>
    </wsdl:port>
    <wsdl:port name="RelyingPartyAdminServiceHttpsSoap12Endpoint" binding="tns:RelyingPartyAdminServiceSoap12Binding">
      <soap12:address location="https://appserver.cloud-test.wso2.com:9446/services/RelyingPartyAdminService.RelyingPartyAdminServiceHttpsSoap12Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="RelyingPartyAdminServiceHttpsSoap11Endpoint" binding="tns:RelyingPartyAdminServiceSoap11Binding">
      <soap:address location="https://appserver.cloud-test.wso2.com:9446/services/RelyingPartyAdminService.RelyingPartyAdminServiceHttpsSoap11Endpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
