3553973956187825E12/resources/DiscoveryProxy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://proxy.discovery.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://docs.oasis-open.org/ws-dd/ns/discovery/2009/01" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://proxy.discovery.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2165="http://discovery.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation>DiscoveryProxy</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/ws-dd/ns/discovery/2009/01" xmlns:ax2166="http://discovery.carbon.wso2.org/xsd">
            <xs:import namespace="http://discovery.carbon.wso2.org/xsd"/>
            <xs:element name="DiscoveryProxyDiscoveryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="DiscoveryException" nillable="true" type="ax2165:DiscoveryException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Resolve">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Resolve" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ResolveResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Probe">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Probe" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ProbeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Hello">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Hello" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Bye">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Bye" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://discovery.carbon.wso2.org/xsd">
            <xs:complexType name="DiscoveryException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="ProbeRequest">
    <wsdl:part name="parameters" element="ns:Probe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ResolveRequest">
    <wsdl:part name="parameters" element="ns:Resolve">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ResolveResponse">
    <wsdl:part name="parameters" element="ns:ResolveResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProbeResponse">
    <wsdl:part name="parameters" element="ns:ProbeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DiscoveryProxyDiscoveryException">
    <wsdl:part name="parameters" element="ns:DiscoveryProxyDiscoveryException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ByeResponse">
  </wsdl:message>
  <wsdl:message name="HelloResponse">
  </wsdl:message>
  <wsdl:message name="ByeRequest">
    <wsdl:part name="parameters" element="ns:Bye">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HelloRequest">
    <wsdl:part name="parameters" element="ns:Hello">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DiscoveryProxyPortType">
    <wsdl:operation name="Resolve">
      <wsdl:input message="tns:ResolveRequest" wsaw:Action="urn:Resolve">
    </wsdl:input>
      <wsdl:output message="tns:ResolveResponse" wsaw:Action="urn:ResolveResponse">
    </wsdl:output>
      <wsdl:fault name="DiscoveryProxyDiscoveryException" message="tns:DiscoveryProxyDiscoveryException" wsaw:Action="urn:ResolveDiscoveryProxyDiscoveryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Hello">
      <wsdl:input message="tns:HelloRequest" wsaw:Action="urn:Hello">
    </wsdl:input>
      <wsdl:output message="tns:HelloResponse" wsaw:Action="urn:HelloResponse">
    </wsdl:output>
      <wsdl:fault name="DiscoveryProxyDiscoveryException" message="tns:DiscoveryProxyDiscoveryException" wsaw:Action="urn:HelloDiscoveryProxyDiscoveryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Probe">
      <wsdl:input message="tns:ProbeRequest" wsaw:Action="urn:Probe">
    </wsdl:input>
      <wsdl:output message="tns:ProbeResponse" wsaw:Action="urn:ProbeResponse">
    </wsdl:output>
      <wsdl:fault name="DiscoveryProxyDiscoveryException" message="tns:DiscoveryProxyDiscoveryException" wsaw:Action="urn:ProbeDiscoveryProxyDiscoveryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Bye">
      <wsdl:input message="tns:ByeRequest" wsaw:Action="urn:Bye">
    </wsdl:input>
      <wsdl:output message="tns:ByeResponse" wsaw:Action="urn:ByeResponse">
    </wsdl:output>
      <wsdl:fault name="DiscoveryProxyDiscoveryException" message="tns:DiscoveryProxyDiscoveryException" wsaw:Action="urn:ByeDiscoveryProxyDiscoveryException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DiscoveryProxySoap12Binding" type="tns:DiscoveryProxyPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Resolve">
      <soap12:operation soapAction="urn:Resolve" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DiscoveryProxyDiscoveryException">
        <soap12:fault name="DiscoveryProxyDiscoveryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Hello">
      <soap12:operation soapAction="urn:Hello" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DiscoveryProxyDiscoveryException">
        <soap12:fault name="DiscoveryProxyDiscoveryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Probe">
      <soap12:operation soapAction="urn:Probe" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DiscoveryProxyDiscoveryException">
        <soap12:fault name="DiscoveryProxyDiscoveryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Bye">
      <soap12:operation soapAction="urn:Bye" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DiscoveryProxyDiscoveryException">
        <soap12:fault name="DiscoveryProxyDiscoveryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DiscoveryProxyHttpBinding" type="tns:DiscoveryProxyPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="Resolve">
      <http:operation location="Resolve"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hello">
      <http:operation location="Hello"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Probe">
      <http:operation location="Probe"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bye">
      <http:operation location="Bye"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DiscoveryProxySoap11Binding" type="tns:DiscoveryProxyPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Resolve">
      <soap:operation soapAction="urn:Resolve" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DiscoveryProxyDiscoveryException">
        <soap:fault name="DiscoveryProxyDiscoveryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Hello">
      <soap:operation soapAction="urn:Hello" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DiscoveryProxyDiscoveryException">
        <soap:fault name="DiscoveryProxyDiscoveryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Probe">
      <soap:operation soapAction="urn:Probe" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DiscoveryProxyDiscoveryException">
        <soap:fault name="DiscoveryProxyDiscoveryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Bye">
      <soap:operation soapAction="urn:Bye" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DiscoveryProxyDiscoveryException">
        <soap:fault name="DiscoveryProxyDiscoveryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DiscoveryProxy">
    <wsdl:port name="DiscoveryProxyHttpsEndpoint" binding="tns:DiscoveryProxyHttpBinding">
      <http:address location="https://governance.cloud-test.wso2.com:9445/services/DiscoveryProxy.DiscoveryProxyHttpsEndpoint/"/>
    </wsdl:port>
    <wsdl:port name="DiscoveryProxyHttpsSoap11Endpoint" binding="tns:DiscoveryProxySoap11Binding">
      <soap:address location="https://governance.cloud-test.wso2.com:9445/services/DiscoveryProxy.DiscoveryProxyHttpsSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="DiscoveryProxyHttpsSoap12Endpoint" binding="tns:DiscoveryProxySoap12Binding">
      <soap12:address location="https://governance.cloud-test.wso2.com:9445/services/DiscoveryProxy.DiscoveryProxyHttpsSoap12Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="DiscoveryProxyHttpSoap11Endpoint" binding="tns:DiscoveryProxySoap11Binding">
      <soap:address location="http://governance.cloud-test.wso2.com:9765/services/DiscoveryProxy.DiscoveryProxyHttpSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="DiscoveryProxyHttpEndpoint" binding="tns:DiscoveryProxyHttpBinding">
      <http:address location="http://governance.cloud-test.wso2.com:9765/services/DiscoveryProxy.DiscoveryProxyHttpEndpoint/"/>
    </wsdl:port>
    <wsdl:port name="DiscoveryProxyHttpSoap12Endpoint" binding="tns:DiscoveryProxySoap12Binding">
      <soap12:address location="http://governance.cloud-test.wso2.com:9765/services/DiscoveryProxy.DiscoveryProxyHttpSoap12Endpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
