JAXWSServiceUploader/resources/JAXWSServiceUploader.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://jaxwsservices.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://jaxwsservices.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2312="http://jaxwsservices.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation>JAXWSServiceUploader</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://jaxwsservices.carbon.wso2.org" xmlns:ax2313="http://jaxwsservices.carbon.wso2.org/xsd">
            <xs:import namespace="http://jaxwsservices.carbon.wso2.org/xsd"/>
            <xs:element name="uploadService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceDataList" nillable="true" type="ax2312:JAXServiceData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://jaxwsservices.carbon.wso2.org/xsd">
            <xs:complexType name="JAXServiceData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataHandler" nillable="true" type="xs:base64Binary"/>
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceHierarchy" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="uploadServiceRequest">
    <wsdl:part name="parameters" element="ns:uploadService">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadServiceResponse">
  </wsdl:message>
  <wsdl:portType name="JAXWSServiceUploaderPortType">
    <wsdl:operation name="uploadService">
      <wsdl:input message="ns:uploadServiceRequest" wsaw:Action="urn:uploadService">
    </wsdl:input>
      <wsdl:output message="ns:uploadServiceResponse" wsaw:Action="urn:uploadServiceResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JAXWSServiceUploaderSoap11Binding" type="ns:JAXWSServiceUploaderPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="uploadService">
      <soap:operation soapAction="urn:uploadService" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JAXWSServiceUploaderHttpBinding" type="ns:JAXWSServiceUploaderPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="uploadService">
      <http:operation location="uploadService"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JAXWSServiceUploaderSoap12Binding" type="ns:JAXWSServiceUploaderPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="uploadService">
      <soap12:operation soapAction="urn:uploadService" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JAXWSServiceUploader">
    <wsdl:port name="JAXWSServiceUploaderHttpsSoap12Endpoint" binding="ns:JAXWSServiceUploaderSoap12Binding">
      <soap12:address location="https://appserver.cloud-test.wso2.com:9446/services/JAXWSServiceUploader.JAXWSServiceUploaderHttpsSoap12Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="JAXWSServiceUploaderHttpsSoap11Endpoint" binding="ns:JAXWSServiceUploaderSoap11Binding">
      <soap:address location="https://appserver.cloud-test.wso2.com:9446/services/JAXWSServiceUploader.JAXWSServiceUploaderHttpsSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="JAXWSServiceUploaderHttpsEndpoint" binding="ns:JAXWSServiceUploaderHttpBinding">
      <http:address location="https://appserver.cloud-test.wso2.com:9446/services/JAXWSServiceUploader.JAXWSServiceUploaderHttpsEndpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
