ScraperService/resources/ScraperService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://scraper.javascript.mashup.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://org.wso2.wsf/tools" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://scraper.javascript.mashup.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation>ScraperService</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.wso2.wsf/tools">
            <xs:element name="getUrl">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="renderDHTML" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="userAgent" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUrlResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="getUrlResponse">
    <wsdl:part name="parameters" element="ns:getUrlResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUrlRequest">
    <wsdl:part name="parameters" element="ns:getUrl">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ScraperServicePortType">
    <wsdl:operation name="getUrl">
      <wsdl:input message="tns:getUrlRequest" wsaw:Action="urn:getUrl">
    </wsdl:input>
      <wsdl:output message="tns:getUrlResponse" wsaw:Action="urn:getUrlResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ScraperServiceHttpBinding" type="tns:ScraperServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="getUrl">
      <http:operation location="getUrl"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ScraperServiceSoap12Binding" type="tns:ScraperServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getUrl">
      <soap12:operation soapAction="urn:getUrl" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ScraperServiceSoap11Binding" type="tns:ScraperServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getUrl">
      <soap:operation soapAction="urn:getUrl" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScraperService">
    <wsdl:port name="ScraperServiceHttpsSoap11Endpoint" binding="tns:ScraperServiceSoap11Binding">
      <soap:address location="https://data.cloud-test.wso2.com:9448/services/ScraperService.ScraperServiceHttpsSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="ScraperServiceHttpSoap11Endpoint" binding="tns:ScraperServiceSoap11Binding">
      <soap:address location="http://data.cloud-test.wso2.com:9768/services/ScraperService.ScraperServiceHttpSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="ScraperServiceHttpsEndpoint" binding="tns:ScraperServiceHttpBinding">
      <http:address location="https://data.cloud-test.wso2.com:9448/services/ScraperService.ScraperServiceHttpsEndpoint/"/>
    </wsdl:port>
    <wsdl:port name="ScraperServiceHttpEndpoint" binding="tns:ScraperServiceHttpBinding">
      <http:address location="http://data.cloud-test.wso2.com:9768/services/ScraperService.ScraperServiceHttpEndpoint/"/>
    </wsdl:port>
    <wsdl:port name="ScraperServiceHttpSoap12Endpoint" binding="tns:ScraperServiceSoap12Binding">
      <soap12:address location="http://data.cloud-test.wso2.com:9768/services/ScraperService.ScraperServiceHttpSoap12Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="ScraperServiceHttpsSoap12Endpoint" binding="tns:ScraperServiceSoap12Binding">
      <soap12:address location="https://data.cloud-test.wso2.com:9448/services/ScraperService.ScraperServiceHttpsSoap12Endpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
