3553973143684058E12/resources/AddServicesService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.services.governance.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.services.governance.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2218="http://api.registry.carbon.wso2.org/xsd" xmlns:ax2217="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation>AddServicesService</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:ax2219="http://api.registry.carbon.wso2.org/xsd">
            <xs:import namespace="http://api.registry.carbon.wso2.org/xsd"/>
            <xs:complexType name="RegistryException">
                <xs:complexContent>
                    <xs:extension base="ax2219:RegistryException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.services.governance.carbon.wso2.org" xmlns:ax2220="http://exceptions.core.registry.carbon.wso2.org/xsd">
            <xs:import namespace="http://exceptions.core.registry.carbon.wso2.org/xsd"/>
            <xs:element name="AddServicesServiceRegistryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2220:RegistryException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveServiceConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="update" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveServiceConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServicePath">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServicePathResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceConfiguration">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AddServicesServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AddServicesServiceException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getAvailableAspects">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailableAspectsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="servicename" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="canChange">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="canChangeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.registry.carbon.wso2.org/xsd">
            <xs:complexType name="RegistryException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="editServiceRequest">
    <wsdl:part name="parameters" element="ns:editService">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editServiceResponse">
    <wsdl:part name="parameters" element="ns:editServiceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addServiceRequest">
    <wsdl:part name="parameters" element="ns:addService">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddServicesServiceException">
    <wsdl:part name="parameters" element="ns:AddServicesServiceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addServiceResponse">
    <wsdl:part name="parameters" element="ns:addServiceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveServiceConfigurationRequest">
    <wsdl:part name="parameters" element="ns:saveServiceConfiguration">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="canChangeRequest">
    <wsdl:part name="parameters" element="ns:canChange">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddServicesServiceRegistryException">
    <wsdl:part name="parameters" element="ns:AddServicesServiceRegistryException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServicePathRequest">
    <wsdl:part name="parameters" element="ns:getServicePath">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvailableAspectsResponse">
    <wsdl:part name="parameters" element="ns:getAvailableAspectsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceConfigurationRequest">
    <wsdl:part name="parameters" element="ns:getServiceConfiguration">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="canChangeResponse">
    <wsdl:part name="parameters" element="ns:canChangeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveServiceConfigurationResponse">
    <wsdl:part name="parameters" element="ns:saveServiceConfigurationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServicePathResponse">
    <wsdl:part name="parameters" element="ns:getServicePathResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvailableAspectsRequest">
    <wsdl:part name="parameters" element="ns:getAvailableAspects">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceConfigurationResponse">
    <wsdl:part name="parameters" element="ns:getServiceConfigurationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AddServicesServicePortType">
    <wsdl:operation name="addService">
      <wsdl:input message="ns:addServiceRequest" wsaw:Action="urn:addService">
    </wsdl:input>
      <wsdl:output message="ns:addServiceResponse" wsaw:Action="urn:addServiceResponse">
    </wsdl:output>
      <wsdl:fault name="AddServicesServiceRegistryException" message="ns:AddServicesServiceRegistryException" wsaw:Action="urn:addServiceAddServicesServiceRegistryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServicePath">
      <wsdl:input message="ns:getServicePathRequest" wsaw:Action="urn:getServicePath">
    </wsdl:input>
      <wsdl:output message="ns:getServicePathResponse" wsaw:Action="urn:getServicePathResponse">
    </wsdl:output>
      <wsdl:fault name="AddServicesServiceRegistryException" message="ns:AddServicesServiceRegistryException" wsaw:Action="urn:getServicePathAddServicesServiceRegistryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="saveServiceConfiguration">
      <wsdl:input message="ns:saveServiceConfigurationRequest" wsaw:Action="urn:saveServiceConfiguration">
    </wsdl:input>
      <wsdl:output message="ns:saveServiceConfigurationResponse" wsaw:Action="urn:saveServiceConfigurationResponse">
    </wsdl:output>
      <wsdl:fault name="AddServicesServiceRegistryException" message="ns:AddServicesServiceRegistryException" wsaw:Action="urn:saveServiceConfigurationAddServicesServiceRegistryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceConfiguration">
      <wsdl:input message="ns:getServiceConfigurationRequest" wsaw:Action="urn:getServiceConfiguration">
    </wsdl:input>
      <wsdl:output message="ns:getServiceConfigurationResponse" wsaw:Action="urn:getServiceConfigurationResponse">
    </wsdl:output>
      <wsdl:fault name="AddServicesServiceRegistryException" message="ns:AddServicesServiceRegistryException" wsaw:Action="urn:getServiceConfigurationAddServicesServiceRegistryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="editService">
      <wsdl:input message="ns:editServiceRequest" wsaw:Action="urn:editService">
    </wsdl:input>
      <wsdl:output message="ns:editServiceResponse" wsaw:Action="urn:editServiceResponse">
    </wsdl:output>
      <wsdl:fault name="AddServicesServiceRegistryException" message="ns:AddServicesServiceRegistryException" wsaw:Action="urn:editServiceAddServicesServiceRegistryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="canChange">
      <wsdl:input message="ns:canChangeRequest" wsaw:Action="urn:canChange">
    </wsdl:input>
      <wsdl:output message="ns:canChangeResponse" wsaw:Action="urn:canChangeResponse">
    </wsdl:output>
      <wsdl:fault name="AddServicesServiceException" message="ns:AddServicesServiceException" wsaw:Action="urn:canChangeAddServicesServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAvailableAspects">
      <wsdl:input message="ns:getAvailableAspectsRequest" wsaw:Action="urn:getAvailableAspects">
    </wsdl:input>
      <wsdl:output message="ns:getAvailableAspectsResponse" wsaw:Action="urn:getAvailableAspectsResponse">
    </wsdl:output>
      <wsdl:fault name="AddServicesServiceException" message="ns:AddServicesServiceException" wsaw:Action="urn:getAvailableAspectsAddServicesServiceException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddServicesServiceSoap12Binding" type="ns:AddServicesServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addService">
      <soap12:operation soapAction="urn:addService" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AddServicesServiceRegistryException">
        <soap12:fault name="AddServicesServiceRegistryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="saveServiceConfiguration">
      <soap12:operation soapAction="urn:saveServiceConfiguration" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AddServicesServiceRegistryException">
        <soap12:fault name="AddServicesServiceRegistryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServicePath">
      <soap12:operation soapAction="urn:getServicePath" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AddServicesServiceRegistryException">
        <soap12:fault name="AddServicesServiceRegistryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceConfiguration">
      <soap12:operation soapAction="urn:getServiceConfiguration" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AddServicesServiceRegistryException">
        <soap12:fault name="AddServicesServiceRegistryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="editService">
      <soap12:operation soapAction="urn:editService" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AddServicesServiceRegistryException">
        <soap12:fault name="AddServicesServiceRegistryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="canChange">
      <soap12:operation soapAction="urn:canChange" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AddServicesServiceException">
        <soap12:fault name="AddServicesServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAvailableAspects">
      <soap12:operation soapAction="urn:getAvailableAspects" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AddServicesServiceException">
        <soap12:fault name="AddServicesServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AddServicesServiceHttpBinding" type="ns:AddServicesServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="addService">
      <http:operation location="addService"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveServiceConfiguration">
      <http:operation location="saveServiceConfiguration"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServicePath">
      <http:operation location="getServicePath"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceConfiguration">
      <http:operation location="getServiceConfiguration"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editService">
      <http:operation location="editService"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="canChange">
      <http:operation location="canChange"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAvailableAspects">
      <http:operation location="getAvailableAspects"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AddServicesServiceSoap11Binding" type="ns:AddServicesServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addService">
      <soap:operation soapAction="urn:addService" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AddServicesServiceRegistryException">
        <soap:fault name="AddServicesServiceRegistryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="saveServiceConfiguration">
      <soap:operation soapAction="urn:saveServiceConfiguration" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AddServicesServiceRegistryException">
        <soap:fault name="AddServicesServiceRegistryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServicePath">
      <soap:operation soapAction="urn:getServicePath" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AddServicesServiceRegistryException">
        <soap:fault name="AddServicesServiceRegistryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceConfiguration">
      <soap:operation soapAction="urn:getServiceConfiguration" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AddServicesServiceRegistryException">
        <soap:fault name="AddServicesServiceRegistryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="editService">
      <soap:operation soapAction="urn:editService" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AddServicesServiceRegistryException">
        <soap:fault name="AddServicesServiceRegistryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="canChange">
      <soap:operation soapAction="urn:canChange" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AddServicesServiceException">
        <soap:fault name="AddServicesServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAvailableAspects">
      <soap:operation soapAction="urn:getAvailableAspects" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AddServicesServiceException">
        <soap:fault name="AddServicesServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddServicesService">
    <wsdl:port name="AddServicesServiceHttpsEndpoint" binding="ns:AddServicesServiceHttpBinding">
      <http:address location="https://governance.cloud-test.wso2.com:9445/services/AddServicesService.AddServicesServiceHttpsEndpoint/"/>
    </wsdl:port>
    <wsdl:port name="AddServicesServiceHttpsSoap11Endpoint" binding="ns:AddServicesServiceSoap11Binding">
      <soap:address location="https://governance.cloud-test.wso2.com:9445/services/AddServicesService.AddServicesServiceHttpsSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="AddServicesServiceHttpsSoap12Endpoint" binding="ns:AddServicesServiceSoap12Binding">
      <soap12:address location="https://governance.cloud-test.wso2.com:9445/services/AddServicesService.AddServicesServiceHttpsSoap12Endpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
