3553955964176318E12/resources/RemoteClaimManagerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.ws.um.carbon.wso2.org" xmlns:ax2453="http://core.user.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.ws.um.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2457="http://claim.core.user.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax2454="http://api.user.carbon.wso2.org/xsd">
<wsdl:documentation>RemoteClaimManagerService</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.user.carbon.wso2.org/xsd">
            <xs:complexType name="UserStoreException">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="ClaimMapping">
                <xs:sequence>
                    <xs:element minOccurs="0" name="claim" nillable="true" type="ax2454:Claim"/>
                    <xs:element minOccurs="0" name="mappedAttribute" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Claim">
                <xs:sequence>
                    <xs:element minOccurs="0" name="claimUri" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="dialectURI" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayOrder" type="xs:int"/>
                    <xs:element minOccurs="0" name="displayTag" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="regEx" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="required" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="supportedByDefault" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.ws.um.carbon.wso2.org" xmlns:ax2456="http://core.user.carbon.wso2.org/xsd" xmlns:ax2459="http://claim.core.user.carbon.wso2.org/xsd">
            <xs:import namespace="http://core.user.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://claim.core.user.carbon.wso2.org/xsd"/>
            <xs:element name="RemoteClaimManagerServiceUserStoreException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="UserStoreException" nillable="true" type="ax2453:UserStoreException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateClaimMapping">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="mapping" nillable="true" type="ax2459:ClaimMapping"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClaimMapping">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="claimURI" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClaimMappingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2459:ClaimMapping"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClaim">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="claimURI" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClaimResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2459:Claim"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAttributeName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="claimURI" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAttributeNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllSupportClaimsByDefault">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllSupportClaimsByDefaultResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2459:Claim"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllRequiredClaims">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllRequiredClaimsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2459:Claim"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllClaims">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dialectUri" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllClaimsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2459:Claim"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllClaimUris">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllClaimUrisResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteClaimMapping">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="mapping" nillable="true" type="ax2459:ClaimMapping"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addNewClaimMapping">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="mapping" nillable="true" type="ax2459:ClaimMapping"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://core.user.carbon.wso2.org/xsd" xmlns:ax2455="http://api.user.carbon.wso2.org/xsd">
            <xs:import namespace="http://api.user.carbon.wso2.org/xsd"/>
            <xs:complexType name="UserStoreException">
                <xs:complexContent>
                    <xs:extension base="ax2455:UserStoreException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://claim.core.user.carbon.wso2.org/xsd" xmlns:ax2458="http://api.user.carbon.wso2.org/xsd">
            <xs:import namespace="http://api.user.carbon.wso2.org/xsd"/>
            <xs:complexType name="ClaimMapping">
                <xs:complexContent>
                    <xs:extension base="ax2458:ClaimMapping">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="claim" nillable="true" type="ax2458:Claim"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="Claim">
                <xs:complexContent>
                    <xs:extension base="ax2458:Claim">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="getClaimResponse">
    <wsdl:part name="parameters" element="ns:getClaimResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAttributeNameRequest">
    <wsdl:part name="parameters" element="ns:getAttributeName">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addNewClaimMappingRequest">
    <wsdl:part name="parameters" element="ns:addNewClaimMapping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllSupportClaimsByDefaultRequest">
    <wsdl:part name="parameters" element="ns:getAllSupportClaimsByDefault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllClaimUrisRequest">
    <wsdl:part name="parameters" element="ns:getAllClaimUris">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllClaimsRequest">
    <wsdl:part name="parameters" element="ns:getAllClaims">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllRequiredClaimsResponse">
    <wsdl:part name="parameters" element="ns:getAllRequiredClaimsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClaimMappingResponse">
    <wsdl:part name="parameters" element="ns:getClaimMappingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClaimMappingRequest">
    <wsdl:part name="parameters" element="ns:getClaimMapping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllClaimsResponse">
    <wsdl:part name="parameters" element="ns:getAllClaimsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoteClaimManagerServiceUserStoreException">
    <wsdl:part name="parameters" element="ns:RemoteClaimManagerServiceUserStoreException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllClaimUrisResponse">
    <wsdl:part name="parameters" element="ns:getAllClaimUrisResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllRequiredClaimsRequest">
    <wsdl:part name="parameters" element="ns:getAllRequiredClaims">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllSupportClaimsByDefaultResponse">
    <wsdl:part name="parameters" element="ns:getAllSupportClaimsByDefaultResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteClaimMappingRequest">
    <wsdl:part name="parameters" element="ns:deleteClaimMapping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAttributeNameResponse">
    <wsdl:part name="parameters" element="ns:getAttributeNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClaimRequest">
    <wsdl:part name="parameters" element="ns:getClaim">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateClaimMappingRequest">
    <wsdl:part name="parameters" element="ns:updateClaimMapping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RemoteClaimManagerServicePortType">
    <wsdl:operation name="getAllRequiredClaims">
      <wsdl:input message="ns:getAllRequiredClaimsRequest" wsaw:Action="urn:getAllRequiredClaims">
    </wsdl:input>
      <wsdl:output message="ns:getAllRequiredClaimsResponse" wsaw:Action="urn:getAllRequiredClaimsResponse">
    </wsdl:output>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException" message="ns:RemoteClaimManagerServiceUserStoreException" wsaw:Action="urn:getAllRequiredClaimsRemoteClaimManagerServiceUserStoreException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getClaimMapping">
      <wsdl:input message="ns:getClaimMappingRequest" wsaw:Action="urn:getClaimMapping">
    </wsdl:input>
      <wsdl:output message="ns:getClaimMappingResponse" wsaw:Action="urn:getClaimMappingResponse">
    </wsdl:output>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException" message="ns:RemoteClaimManagerServiceUserStoreException" wsaw:Action="urn:getClaimMappingRemoteClaimManagerServiceUserStoreException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAttributeName">
      <wsdl:input message="ns:getAttributeNameRequest" wsaw:Action="urn:getAttributeName">
    </wsdl:input>
      <wsdl:output message="ns:getAttributeNameResponse" wsaw:Action="urn:getAttributeNameResponse">
    </wsdl:output>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException" message="ns:RemoteClaimManagerServiceUserStoreException" wsaw:Action="urn:getAttributeNameRemoteClaimManagerServiceUserStoreException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportClaimsByDefault">
      <wsdl:input message="ns:getAllSupportClaimsByDefaultRequest" wsaw:Action="urn:getAllSupportClaimsByDefault">
    </wsdl:input>
      <wsdl:output message="ns:getAllSupportClaimsByDefaultResponse" wsaw:Action="urn:getAllSupportClaimsByDefaultResponse">
    </wsdl:output>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException" message="ns:RemoteClaimManagerServiceUserStoreException" wsaw:Action="urn:getAllSupportClaimsByDefaultRemoteClaimManagerServiceUserStoreException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteClaimMapping">
      <wsdl:input message="ns:deleteClaimMappingRequest" wsaw:Action="urn:deleteClaimMapping">
    </wsdl:input>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException" message="ns:RemoteClaimManagerServiceUserStoreException" wsaw:Action="urn:deleteClaimMappingRemoteClaimManagerServiceUserStoreException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllClaimUris">
      <wsdl:input message="ns:getAllClaimUrisRequest" wsaw:Action="urn:getAllClaimUris">
    </wsdl:input>
      <wsdl:output message="ns:getAllClaimUrisResponse" wsaw:Action="urn:getAllClaimUrisResponse">
    </wsdl:output>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException" message="ns:RemoteClaimManagerServiceUserStoreException" wsaw:Action="urn:getAllClaimUrisRemoteClaimManagerServiceUserStoreException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateClaimMapping">
      <wsdl:input message="ns:updateClaimMappingRequest" wsaw:Action="urn:updateClaimMapping">
    </wsdl:input>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException" message="ns:RemoteClaimManagerServiceUserStoreException" wsaw:Action="urn:updateClaimMappingRemoteClaimManagerServiceUserStoreException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getClaim">
      <wsdl:input message="ns:getClaimRequest" wsaw:Action="urn:getClaim">
    </wsdl:input>
      <wsdl:output message="ns:getClaimResponse" wsaw:Action="urn:getClaimResponse">
    </wsdl:output>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException" message="ns:RemoteClaimManagerServiceUserStoreException" wsaw:Action="urn:getClaimRemoteClaimManagerServiceUserStoreException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addNewClaimMapping">
      <wsdl:input message="ns:addNewClaimMappingRequest" wsaw:Action="urn:addNewClaimMapping">
    </wsdl:input>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException" message="ns:RemoteClaimManagerServiceUserStoreException" wsaw:Action="urn:addNewClaimMappingRemoteClaimManagerServiceUserStoreException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllClaims">
      <wsdl:input message="ns:getAllClaimsRequest" wsaw:Action="urn:getAllClaims">
    </wsdl:input>
      <wsdl:output message="ns:getAllClaimsResponse" wsaw:Action="urn:getAllClaimsResponse">
    </wsdl:output>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException" message="ns:RemoteClaimManagerServiceUserStoreException" wsaw:Action="urn:getAllClaimsRemoteClaimManagerServiceUserStoreException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RemoteClaimManagerServiceHttpBinding" type="ns:RemoteClaimManagerServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="getAllRequiredClaims">
      <http:operation location="getAllRequiredClaims"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClaimMapping">
      <http:operation location="getClaimMapping"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAttributeName">
      <http:operation location="getAttributeName"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportClaimsByDefault">
      <http:operation location="getAllSupportClaimsByDefault"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteClaimMapping">
      <http:operation location="deleteClaimMapping"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getAllClaimUris">
      <http:operation location="getAllClaimUris"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateClaimMapping">
      <http:operation location="updateClaimMapping"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getClaim">
      <http:operation location="getClaim"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewClaimMapping">
      <http:operation location="addNewClaimMapping"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getAllClaims">
      <http:operation location="getAllClaims"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RemoteClaimManagerServiceSoap11Binding" type="ns:RemoteClaimManagerServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllRequiredClaims">
      <soap:operation soapAction="urn:getAllRequiredClaims" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
        <soap:fault name="RemoteClaimManagerServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getClaimMapping">
      <soap:operation soapAction="urn:getClaimMapping" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
        <soap:fault name="RemoteClaimManagerServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAttributeName">
      <soap:operation soapAction="urn:getAttributeName" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
        <soap:fault name="RemoteClaimManagerServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportClaimsByDefault">
      <soap:operation soapAction="urn:getAllSupportClaimsByDefault" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
        <soap:fault name="RemoteClaimManagerServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteClaimMapping">
      <soap:operation soapAction="urn:deleteClaimMapping" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
        <soap:fault name="RemoteClaimManagerServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllClaimUris">
      <soap:operation soapAction="urn:getAllClaimUris" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
        <soap:fault name="RemoteClaimManagerServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateClaimMapping">
      <soap:operation soapAction="urn:updateClaimMapping" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
        <soap:fault name="RemoteClaimManagerServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getClaim">
      <soap:operation soapAction="urn:getClaim" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
        <soap:fault name="RemoteClaimManagerServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addNewClaimMapping">
      <soap:operation soapAction="urn:addNewClaimMapping" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
        <soap:fault name="RemoteClaimManagerServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllClaims">
      <soap:operation soapAction="urn:getAllClaims" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
        <soap:fault name="RemoteClaimManagerServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RemoteClaimManagerServiceSoap12Binding" type="ns:RemoteClaimManagerServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllRequiredClaims">
      <soap12:operation soapAction="urn:getAllRequiredClaims" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
        <soap12:fault name="RemoteClaimManagerServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getClaimMapping">
      <soap12:operation soapAction="urn:getClaimMapping" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
        <soap12:fault name="RemoteClaimManagerServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAttributeName">
      <soap12:operation soapAction="urn:getAttributeName" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
        <soap12:fault name="RemoteClaimManagerServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllSupportClaimsByDefault">
      <soap12:operation soapAction="urn:getAllSupportClaimsByDefault" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
        <soap12:fault name="RemoteClaimManagerServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteClaimMapping">
      <soap12:operation soapAction="urn:deleteClaimMapping" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
        <soap12:fault name="RemoteClaimManagerServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllClaimUris">
      <soap12:operation soapAction="urn:getAllClaimUris" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
        <soap12:fault name="RemoteClaimManagerServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateClaimMapping">
      <soap12:operation soapAction="urn:updateClaimMapping" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
        <soap12:fault name="RemoteClaimManagerServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getClaim">
      <soap12:operation soapAction="urn:getClaim" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
        <soap12:fault name="RemoteClaimManagerServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addNewClaimMapping">
      <soap12:operation soapAction="urn:addNewClaimMapping" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
        <soap12:fault name="RemoteClaimManagerServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllClaims">
      <soap12:operation soapAction="urn:getAllClaims" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RemoteClaimManagerServiceUserStoreException">
        <soap12:fault name="RemoteClaimManagerServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemoteClaimManagerService">
    <wsdl:port name="RemoteClaimManagerServiceHttpsSoap11Endpoint" binding="ns:RemoteClaimManagerServiceSoap11Binding">
      <soap:address location="https://identity.cloud-test.wso2.com:9444/services/RemoteClaimManagerService.RemoteClaimManagerServiceHttpsSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="RemoteClaimManagerServiceHttpsSoap12Endpoint" binding="ns:RemoteClaimManagerServiceSoap12Binding">
      <soap12:address location="https://identity.cloud-test.wso2.com:9444/services/RemoteClaimManagerService.RemoteClaimManagerServiceHttpsSoap12Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="RemoteClaimManagerServiceHttpsEndpoint" binding="ns:RemoteClaimManagerServiceHttpBinding">
      <http:address location="https://identity.cloud-test.wso2.com:9444/services/RemoteClaimManagerService.RemoteClaimManagerServiceHttpsEndpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
