GadgetSourceService/resources/GadgetSourceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.gadgetsource.governance.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.gadgetsource.governance.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2197="http://beans.gadgetsource.governance.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2199="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:ax2200="http://api.registry.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation>GadgetSourceService</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.gadgetsource.governance.carbon.wso2.org" xmlns:ax2198="http://beans.gadgetsource.governance.carbon.wso2.org/xsd" xmlns:ax2202="http://exceptions.core.registry.carbon.wso2.org/xsd">
            <xs:import namespace="http://beans.gadgetsource.governance.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://exceptions.core.registry.carbon.wso2.org/xsd"/>
            <xs:element name="getServiceVersionHistogramGadgetData">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceVersionHistogramGadgetDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2198:ServiceVersionHistogramGadgetBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceInfoGadgetData">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceInfoGadgetDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2198:ServiceInfoGadgetBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSchemaSharingInfoGadgetData">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSchemaSharingInfoGadgetDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2198:SchemaSharingInfoGadgetBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GadgetSourceServiceRegistryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2202:RegistryException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLifecyclePiechartGadgetData">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLifecyclePiechartGadgetDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2198:LifecyclePiechartGadgetBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:ax2201="http://api.registry.carbon.wso2.org/xsd">
            <xs:import namespace="http://api.registry.carbon.wso2.org/xsd"/>
            <xs:complexType name="RegistryException">
                <xs:complexContent>
                    <xs:extension base="ax2201:RegistryException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.gadgetsource.governance.carbon.wso2.org/xsd">
            <xs:complexType name="ServiceVersionHistogramGadgetBean">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="ServiceInfoGadgetBean">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="SchemaSharingInfoGadgetBean">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="LifecyclePiechartGadgetBean">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="lifecycles" nillable="true" type="ax2197:LifecycleInfoBean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LifecycleInfoBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="stages" nillable="true" type="ax2197:LifecycleStageInfoBean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LifecycleStageInfoBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceCount" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.registry.carbon.wso2.org/xsd">
            <xs:complexType name="RegistryException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="getServiceVersionHistogramGadgetDataRequest">
    <wsdl:part name="parameters" element="ns:getServiceVersionHistogramGadgetData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GadgetSourceServiceRegistryException">
    <wsdl:part name="parameters" element="ns:GadgetSourceServiceRegistryException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSchemaSharingInfoGadgetDataRequest">
    <wsdl:part name="parameters" element="ns:getSchemaSharingInfoGadgetData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSchemaSharingInfoGadgetDataResponse">
    <wsdl:part name="parameters" element="ns:getSchemaSharingInfoGadgetDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceVersionHistogramGadgetDataResponse">
    <wsdl:part name="parameters" element="ns:getServiceVersionHistogramGadgetDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLifecyclePiechartGadgetDataRequest">
    <wsdl:part name="parameters" element="ns:getLifecyclePiechartGadgetData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLifecyclePiechartGadgetDataResponse">
    <wsdl:part name="parameters" element="ns:getLifecyclePiechartGadgetDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceInfoGadgetDataResponse">
    <wsdl:part name="parameters" element="ns:getServiceInfoGadgetDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceInfoGadgetDataRequest">
    <wsdl:part name="parameters" element="ns:getServiceInfoGadgetData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GadgetSourceServicePortType">
    <wsdl:operation name="getServiceInfoGadgetData">
      <wsdl:input message="ns:getServiceInfoGadgetDataRequest" wsaw:Action="urn:getServiceInfoGadgetData">
    </wsdl:input>
      <wsdl:output message="ns:getServiceInfoGadgetDataResponse" wsaw:Action="urn:getServiceInfoGadgetDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLifecyclePiechartGadgetData">
      <wsdl:input message="ns:getLifecyclePiechartGadgetDataRequest" wsaw:Action="urn:getLifecyclePiechartGadgetData">
    </wsdl:input>
      <wsdl:output message="ns:getLifecyclePiechartGadgetDataResponse" wsaw:Action="urn:getLifecyclePiechartGadgetDataResponse">
    </wsdl:output>
      <wsdl:fault name="GadgetSourceServiceRegistryException" message="ns:GadgetSourceServiceRegistryException" wsaw:Action="urn:getLifecyclePiechartGadgetDataGadgetSourceServiceRegistryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceVersionHistogramGadgetData">
      <wsdl:input message="ns:getServiceVersionHistogramGadgetDataRequest" wsaw:Action="urn:getServiceVersionHistogramGadgetData">
    </wsdl:input>
      <wsdl:output message="ns:getServiceVersionHistogramGadgetDataResponse" wsaw:Action="urn:getServiceVersionHistogramGadgetDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSchemaSharingInfoGadgetData">
      <wsdl:input message="ns:getSchemaSharingInfoGadgetDataRequest" wsaw:Action="urn:getSchemaSharingInfoGadgetData">
    </wsdl:input>
      <wsdl:output message="ns:getSchemaSharingInfoGadgetDataResponse" wsaw:Action="urn:getSchemaSharingInfoGadgetDataResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GadgetSourceServiceSoap11Binding" type="ns:GadgetSourceServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getServiceInfoGadgetData">
      <soap:operation soapAction="urn:getServiceInfoGadgetData" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLifecyclePiechartGadgetData">
      <soap:operation soapAction="urn:getLifecyclePiechartGadgetData" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="GadgetSourceServiceRegistryException">
        <soap:fault name="GadgetSourceServiceRegistryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceVersionHistogramGadgetData">
      <soap:operation soapAction="urn:getServiceVersionHistogramGadgetData" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSchemaSharingInfoGadgetData">
      <soap:operation soapAction="urn:getSchemaSharingInfoGadgetData" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GadgetSourceServiceHttpBinding" type="ns:GadgetSourceServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="getServiceInfoGadgetData">
      <http:operation location="getServiceInfoGadgetData"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLifecyclePiechartGadgetData">
      <http:operation location="getLifecyclePiechartGadgetData"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceVersionHistogramGadgetData">
      <http:operation location="getServiceVersionHistogramGadgetData"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSchemaSharingInfoGadgetData">
      <http:operation location="getSchemaSharingInfoGadgetData"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GadgetSourceServiceSoap12Binding" type="ns:GadgetSourceServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getServiceInfoGadgetData">
      <soap12:operation soapAction="urn:getServiceInfoGadgetData" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLifecyclePiechartGadgetData">
      <soap12:operation soapAction="urn:getLifecyclePiechartGadgetData" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="GadgetSourceServiceRegistryException">
        <soap12:fault name="GadgetSourceServiceRegistryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceVersionHistogramGadgetData">
      <soap12:operation soapAction="urn:getServiceVersionHistogramGadgetData" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSchemaSharingInfoGadgetData">
      <soap12:operation soapAction="urn:getSchemaSharingInfoGadgetData" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GadgetSourceService">
    <wsdl:port name="GadgetSourceServiceHttpsSoap12Endpoint" binding="ns:GadgetSourceServiceSoap12Binding">
      <soap12:address location="https://governance.cloud-test.wso2.com:9445/services/GadgetSourceService.GadgetSourceServiceHttpsSoap12Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="GadgetSourceServiceHttpsSoap11Endpoint" binding="ns:GadgetSourceServiceSoap11Binding">
      <soap:address location="https://governance.cloud-test.wso2.com:9445/services/GadgetSourceService.GadgetSourceServiceHttpsSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="GadgetSourceServiceHttpsEndpoint" binding="ns:GadgetSourceServiceHttpBinding">
      <http:address location="https://governance.cloud-test.wso2.com:9445/services/GadgetSourceService.GadgetSourceServiceHttpsEndpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
