3553909812345024E12/resources/CachingAdminService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.caching.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.caching.carbon.wso2.org" xmlns:ax213="http://caching.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation>CachingAdminService</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://caching.carbon.wso2.org/xsd">
            <xs:complexType name="CachingComponentException">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="CachingConfigData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="expTime" type="xs:long"/>
                    <xs:element minOccurs="0" name="maxCacheSize" type="xs:int"/>
                    <xs:element minOccurs="0" name="maxMsgSize" type="xs:int"/>
                    <xs:element minOccurs="0" name="xmlIdentifier" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.caching.carbon.wso2.org" xmlns:ax214="http://caching.carbon.wso2.org/xsd">
            <xs:import namespace="http://caching.carbon.wso2.org/xsd"/>
            <xs:element name="CachingAdminServiceCachingComponentException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CachingComponentException" nillable="true" type="ax214:CachingComponentException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isCachingGloballyEnabled">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="isCachingGloballyEnabledResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isCachingEnabledForService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isCachingEnabledForServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isCachingEnabledForOperation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="operationName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isCachingEnabledForOperationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="globallyEngageCaching">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="confData" nillable="true" type="ax214:CachingConfigData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGlobalCachingPolicy">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGlobalCachingPolicyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax214:CachingConfigData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCachingPolicyForService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCachingPolicyForServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax214:CachingConfigData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCachingPolicyForOperation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="operationName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCachingPolicyForOperationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax214:CachingConfigData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="engageCachingForService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="confData" nillable="true" type="ax214:CachingConfigData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="engageCachingForOperation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="operationName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="confData" nillable="true" type="ax214:CachingConfigData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="engageCachingForOperationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disengageGlobalCaching">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="disengageCachingForService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disengageCachingForOperation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="operationName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disengageCachingForOperationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="getGlobalCachingPolicyRequest">
    <wsdl:part name="parameters" element="ns:getGlobalCachingPolicy">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isCachingEnabledForServiceResponse">
    <wsdl:part name="parameters" element="ns:isCachingEnabledForServiceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCachingPolicyForOperationRequest">
    <wsdl:part name="parameters" element="ns:getCachingPolicyForOperation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="disengageCachingForServiceRequest">
    <wsdl:part name="parameters" element="ns:disengageCachingForService">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="disengageCachingForOperationRequest">
    <wsdl:part name="parameters" element="ns:disengageCachingForOperation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isCachingEnabledForServiceRequest">
    <wsdl:part name="parameters" element="ns:isCachingEnabledForService">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="disengageCachingForOperationResponse">
    <wsdl:part name="parameters" element="ns:disengageCachingForOperationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isCachingEnabledForOperationResponse">
    <wsdl:part name="parameters" element="ns:isCachingEnabledForOperationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="disengageGlobalCachingResponse">
  </wsdl:message>
  <wsdl:message name="globallyEngageCachingRequest">
    <wsdl:part name="parameters" element="ns:globallyEngageCaching">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="disengageGlobalCachingRequest">
    <wsdl:part name="parameters" element="ns:disengageGlobalCaching">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isCachingGloballyEnabledResponse">
    <wsdl:part name="parameters" element="ns:isCachingGloballyEnabledResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCachingPolicyForOperationResponse">
    <wsdl:part name="parameters" element="ns:getCachingPolicyForOperationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCachingPolicyForServiceResponse">
    <wsdl:part name="parameters" element="ns:getCachingPolicyForServiceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isCachingGloballyEnabledRequest">
    <wsdl:part name="parameters" element="ns:isCachingGloballyEnabled">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="globallyEngageCachingResponse">
  </wsdl:message>
  <wsdl:message name="engageCachingForServiceRequest">
    <wsdl:part name="parameters" element="ns:engageCachingForService">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="engageCachingForOperationRequest">
    <wsdl:part name="parameters" element="ns:engageCachingForOperation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="engageCachingForOperationResponse">
    <wsdl:part name="parameters" element="ns:engageCachingForOperationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGlobalCachingPolicyResponse">
    <wsdl:part name="parameters" element="ns:getGlobalCachingPolicyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCachingPolicyForServiceRequest">
    <wsdl:part name="parameters" element="ns:getCachingPolicyForService">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isCachingEnabledForOperationRequest">
    <wsdl:part name="parameters" element="ns:isCachingEnabledForOperation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CachingAdminServiceCachingComponentException">
    <wsdl:part name="parameters" element="ns:CachingAdminServiceCachingComponentException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CachingAdminServicePortType">
    <wsdl:operation name="disengageGlobalCaching">
      <wsdl:input message="ns:disengageGlobalCachingRequest" wsaw:Action="urn:disengageGlobalCaching">
    </wsdl:input>
      <wsdl:output message="ns:disengageGlobalCachingResponse" wsaw:Action="urn:disengageGlobalCachingResponse">
    </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException" message="ns:CachingAdminServiceCachingComponentException" wsaw:Action="urn:disengageGlobalCachingCachingAdminServiceCachingComponentException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="disengageCachingForService">
      <wsdl:input message="ns:disengageCachingForServiceRequest" wsaw:Action="urn:disengageCachingForService">
    </wsdl:input>
      <wsdl:fault name="CachingAdminServiceCachingComponentException" message="ns:CachingAdminServiceCachingComponentException" wsaw:Action="urn:disengageCachingForServiceCachingAdminServiceCachingComponentException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="engageCachingForService">
      <wsdl:input message="ns:engageCachingForServiceRequest" wsaw:Action="urn:engageCachingForService">
    </wsdl:input>
      <wsdl:fault name="CachingAdminServiceCachingComponentException" message="ns:CachingAdminServiceCachingComponentException" wsaw:Action="urn:engageCachingForServiceCachingAdminServiceCachingComponentException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="disengageCachingForOperation">
      <wsdl:input message="ns:disengageCachingForOperationRequest" wsaw:Action="urn:disengageCachingForOperation">
    </wsdl:input>
      <wsdl:output message="ns:disengageCachingForOperationResponse" wsaw:Action="urn:disengageCachingForOperationResponse">
    </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException" message="ns:CachingAdminServiceCachingComponentException" wsaw:Action="urn:disengageCachingForOperationCachingAdminServiceCachingComponentException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="engageCachingForOperation">
      <wsdl:input message="ns:engageCachingForOperationRequest" wsaw:Action="urn:engageCachingForOperation">
    </wsdl:input>
      <wsdl:output message="ns:engageCachingForOperationResponse" wsaw:Action="urn:engageCachingForOperationResponse">
    </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException" message="ns:CachingAdminServiceCachingComponentException" wsaw:Action="urn:engageCachingForOperationCachingAdminServiceCachingComponentException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCachingPolicyForOperation">
      <wsdl:input message="ns:getCachingPolicyForOperationRequest" wsaw:Action="urn:getCachingPolicyForOperation">
    </wsdl:input>
      <wsdl:output message="ns:getCachingPolicyForOperationResponse" wsaw:Action="urn:getCachingPolicyForOperationResponse">
    </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException" message="ns:CachingAdminServiceCachingComponentException" wsaw:Action="urn:getCachingPolicyForOperationCachingAdminServiceCachingComponentException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isCachingEnabledForService">
      <wsdl:input message="ns:isCachingEnabledForServiceRequest" wsaw:Action="urn:isCachingEnabledForService">
    </wsdl:input>
      <wsdl:output message="ns:isCachingEnabledForServiceResponse" wsaw:Action="urn:isCachingEnabledForServiceResponse">
    </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException" message="ns:CachingAdminServiceCachingComponentException" wsaw:Action="urn:isCachingEnabledForServiceCachingAdminServiceCachingComponentException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isCachingGloballyEnabled">
      <wsdl:input message="ns:isCachingGloballyEnabledRequest" wsaw:Action="urn:isCachingGloballyEnabled">
    </wsdl:input>
      <wsdl:output message="ns:isCachingGloballyEnabledResponse" wsaw:Action="urn:isCachingGloballyEnabledResponse">
    </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException" message="ns:CachingAdminServiceCachingComponentException" wsaw:Action="urn:isCachingGloballyEnabledCachingAdminServiceCachingComponentException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCachingPolicyForService">
      <wsdl:input message="ns:getCachingPolicyForServiceRequest" wsaw:Action="urn:getCachingPolicyForService">
    </wsdl:input>
      <wsdl:output message="ns:getCachingPolicyForServiceResponse" wsaw:Action="urn:getCachingPolicyForServiceResponse">
    </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException" message="ns:CachingAdminServiceCachingComponentException" wsaw:Action="urn:getCachingPolicyForServiceCachingAdminServiceCachingComponentException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="globallyEngageCaching">
      <wsdl:input message="ns:globallyEngageCachingRequest" wsaw:Action="urn:globallyEngageCaching">
    </wsdl:input>
      <wsdl:output message="ns:globallyEngageCachingResponse" wsaw:Action="urn:globallyEngageCachingResponse">
    </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException" message="ns:CachingAdminServiceCachingComponentException" wsaw:Action="urn:globallyEngageCachingCachingAdminServiceCachingComponentException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isCachingEnabledForOperation">
      <wsdl:input message="ns:isCachingEnabledForOperationRequest" wsaw:Action="urn:isCachingEnabledForOperation">
    </wsdl:input>
      <wsdl:output message="ns:isCachingEnabledForOperationResponse" wsaw:Action="urn:isCachingEnabledForOperationResponse">
    </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException" message="ns:CachingAdminServiceCachingComponentException" wsaw:Action="urn:isCachingEnabledForOperationCachingAdminServiceCachingComponentException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getGlobalCachingPolicy">
      <wsdl:input message="ns:getGlobalCachingPolicyRequest" wsaw:Action="urn:getGlobalCachingPolicy">
    </wsdl:input>
      <wsdl:output message="ns:getGlobalCachingPolicyResponse" wsaw:Action="urn:getGlobalCachingPolicyResponse">
    </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException" message="ns:CachingAdminServiceCachingComponentException" wsaw:Action="urn:getGlobalCachingPolicyCachingAdminServiceCachingComponentException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CachingAdminServiceSoap11Binding" type="ns:CachingAdminServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="disengageGlobalCaching">
      <soap:operation soapAction="urn:disengageGlobalCaching" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="disengageCachingForService">
      <soap:operation soapAction="urn:disengageCachingForService" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="engageCachingForService">
      <soap:operation soapAction="urn:engageCachingForService" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="engageCachingForOperation">
      <soap:operation soapAction="urn:engageCachingForOperation" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="disengageCachingForOperation">
      <soap:operation soapAction="urn:disengageCachingForOperation" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCachingPolicyForOperation">
      <soap:operation soapAction="urn:getCachingPolicyForOperation" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isCachingEnabledForService">
      <soap:operation soapAction="urn:isCachingEnabledForService" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isCachingGloballyEnabled">
      <soap:operation soapAction="urn:isCachingGloballyEnabled" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="globallyEngageCaching">
      <soap:operation soapAction="urn:globallyEngageCaching" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCachingPolicyForService">
      <soap:operation soapAction="urn:getCachingPolicyForService" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isCachingEnabledForOperation">
      <soap:operation soapAction="urn:isCachingEnabledForOperation" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getGlobalCachingPolicy">
      <soap:operation soapAction="urn:getGlobalCachingPolicy" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CachingAdminServiceSoap12Binding" type="ns:CachingAdminServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="disengageGlobalCaching">
      <soap12:operation soapAction="urn:disengageGlobalCaching" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap12:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="disengageCachingForService">
      <soap12:operation soapAction="urn:disengageCachingForService" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap12:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="engageCachingForService">
      <soap12:operation soapAction="urn:engageCachingForService" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap12:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="engageCachingForOperation">
      <soap12:operation soapAction="urn:engageCachingForOperation" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap12:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="disengageCachingForOperation">
      <soap12:operation soapAction="urn:disengageCachingForOperation" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap12:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCachingPolicyForOperation">
      <soap12:operation soapAction="urn:getCachingPolicyForOperation" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap12:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isCachingEnabledForService">
      <soap12:operation soapAction="urn:isCachingEnabledForService" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap12:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isCachingGloballyEnabled">
      <soap12:operation soapAction="urn:isCachingGloballyEnabled" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap12:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="globallyEngageCaching">
      <soap12:operation soapAction="urn:globallyEngageCaching" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap12:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCachingPolicyForService">
      <soap12:operation soapAction="urn:getCachingPolicyForService" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap12:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isCachingEnabledForOperation">
      <soap12:operation soapAction="urn:isCachingEnabledForOperation" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap12:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getGlobalCachingPolicy">
      <soap12:operation soapAction="urn:getGlobalCachingPolicy" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CachingAdminServiceCachingComponentException">
        <soap12:fault name="CachingAdminServiceCachingComponentException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CachingAdminServiceHttpBinding" type="ns:CachingAdminServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="disengageGlobalCaching">
      <http:operation location="disengageGlobalCaching"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="disengageCachingForService">
      <http:operation location="disengageCachingForService"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="engageCachingForService">
      <http:operation location="engageCachingForService"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="engageCachingForOperation">
      <http:operation location="engageCachingForOperation"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="disengageCachingForOperation">
      <http:operation location="disengageCachingForOperation"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCachingPolicyForOperation">
      <http:operation location="getCachingPolicyForOperation"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isCachingEnabledForService">
      <http:operation location="isCachingEnabledForService"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isCachingGloballyEnabled">
      <http:operation location="isCachingGloballyEnabled"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="globallyEngageCaching">
      <http:operation location="globallyEngageCaching"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCachingPolicyForService">
      <http:operation location="getCachingPolicyForService"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isCachingEnabledForOperation">
      <http:operation location="isCachingEnabledForOperation"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGlobalCachingPolicy">
      <http:operation location="getGlobalCachingPolicy"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CachingAdminService">
    <wsdl:port name="CachingAdminServiceHttpsEndpoint" binding="ns:CachingAdminServiceHttpBinding">
      <http:address location="https://appserver.cloud-test.wso2.com:9446/services/CachingAdminService.CachingAdminServiceHttpsEndpoint/"/>
    </wsdl:port>
    <wsdl:port name="CachingAdminServiceHttpsSoap11Endpoint" binding="ns:CachingAdminServiceSoap11Binding">
      <soap:address location="https://appserver.cloud-test.wso2.com:9446/services/CachingAdminService.CachingAdminServiceHttpsSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="CachingAdminServiceHttpsSoap12Endpoint" binding="ns:CachingAdminServiceSoap12Binding">
      <soap12:address location="https://appserver.cloud-test.wso2.com:9446/services/CachingAdminService.CachingAdminServiceHttpsSoap12Endpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
