3553972498334797E12/resources/ListMetadataService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.list.governance.carbon.wso2.org" xmlns:ax2211="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.list.governance.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2215="http://beans.list.governance.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax2212="http://api.registry.carbon.wso2.org/xsd">
<wsdl:documentation>ListMetadataService</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:ax2213="http://api.registry.carbon.wso2.org/xsd">
            <xs:import namespace="http://api.registry.carbon.wso2.org/xsd"/>
            <xs:complexType name="RegistryException">
                <xs:complexContent>
                    <xs:extension base="ax2213:RegistryException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.list.governance.carbon.wso2.org" xmlns:ax2214="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:ax2216="http://beans.list.governance.carbon.wso2.org/xsd">
            <xs:import namespace="http://exceptions.core.registry.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://beans.list.governance.carbon.wso2.org/xsd"/>
            <xs:element name="ListMetadataServiceRegistryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2211:RegistryException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listwsdls">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="listwsdlsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2216:WSDLBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listservices">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="criteria" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listservicesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2216:ServiceBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listschema">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="listschemaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2216:SchemaBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listpolicies">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="listpoliciesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2216:PolicyBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.list.governance.carbon.wso2.org/xsd">
            <xs:complexType name="WSDLBean">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="canDelete" nillable="true" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="namespace" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="path" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="size" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ServiceBean">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="canDelete" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="defaultServicePath" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="names" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="namespace" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="path" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="size" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SchemaBean">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="canDelete" nillable="true" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="namespace" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="path" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="size" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PolicyBean">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="canDelete" nillable="true" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="path" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="size" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.registry.carbon.wso2.org/xsd">
            <xs:complexType name="RegistryException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="ListMetadataServiceRegistryException">
    <wsdl:part name="parameters" element="ns:ListMetadataServiceRegistryException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listservicesResponse">
    <wsdl:part name="parameters" element="ns:listservicesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listservicesRequest">
    <wsdl:part name="parameters" element="ns:listservices">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listschemaRequest">
    <wsdl:part name="parameters" element="ns:listschema">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listwsdlsResponse">
    <wsdl:part name="parameters" element="ns:listwsdlsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listschemaResponse">
    <wsdl:part name="parameters" element="ns:listschemaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listpoliciesResponse">
    <wsdl:part name="parameters" element="ns:listpoliciesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listpoliciesRequest">
    <wsdl:part name="parameters" element="ns:listpolicies">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listwsdlsRequest">
    <wsdl:part name="parameters" element="ns:listwsdls">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ListMetadataServicePortType">
    <wsdl:operation name="listschema">
      <wsdl:input message="ns:listschemaRequest" wsaw:Action="urn:listschema">
    </wsdl:input>
      <wsdl:output message="ns:listschemaResponse" wsaw:Action="urn:listschemaResponse">
    </wsdl:output>
      <wsdl:fault name="ListMetadataServiceRegistryException" message="ns:ListMetadataServiceRegistryException" wsaw:Action="urn:listschemaListMetadataServiceRegistryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listservices">
      <wsdl:input message="ns:listservicesRequest" wsaw:Action="urn:listservices">
    </wsdl:input>
      <wsdl:output message="ns:listservicesResponse" wsaw:Action="urn:listservicesResponse">
    </wsdl:output>
      <wsdl:fault name="ListMetadataServiceRegistryException" message="ns:ListMetadataServiceRegistryException" wsaw:Action="urn:listservicesListMetadataServiceRegistryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listwsdls">
      <wsdl:input message="ns:listwsdlsRequest" wsaw:Action="urn:listwsdls">
    </wsdl:input>
      <wsdl:output message="ns:listwsdlsResponse" wsaw:Action="urn:listwsdlsResponse">
    </wsdl:output>
      <wsdl:fault name="ListMetadataServiceRegistryException" message="ns:ListMetadataServiceRegistryException" wsaw:Action="urn:listwsdlsListMetadataServiceRegistryException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listpolicies">
      <wsdl:input message="ns:listpoliciesRequest" wsaw:Action="urn:listpolicies">
    </wsdl:input>
      <wsdl:output message="ns:listpoliciesResponse" wsaw:Action="urn:listpoliciesResponse">
    </wsdl:output>
      <wsdl:fault name="ListMetadataServiceRegistryException" message="ns:ListMetadataServiceRegistryException" wsaw:Action="urn:listpoliciesListMetadataServiceRegistryException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListMetadataServiceHttpBinding" type="ns:ListMetadataServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="listschema">
      <http:operation location="listschema"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listservices">
      <http:operation location="listservices"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listwsdls">
      <http:operation location="listwsdls"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listpolicies">
      <http:operation location="listpolicies"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListMetadataServiceSoap12Binding" type="ns:ListMetadataServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listschema">
      <soap12:operation soapAction="urn:listschema" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ListMetadataServiceRegistryException">
        <soap12:fault name="ListMetadataServiceRegistryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listservices">
      <soap12:operation soapAction="urn:listservices" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ListMetadataServiceRegistryException">
        <soap12:fault name="ListMetadataServiceRegistryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listwsdls">
      <soap12:operation soapAction="urn:listwsdls" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ListMetadataServiceRegistryException">
        <soap12:fault name="ListMetadataServiceRegistryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listpolicies">
      <soap12:operation soapAction="urn:listpolicies" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ListMetadataServiceRegistryException">
        <soap12:fault name="ListMetadataServiceRegistryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListMetadataServiceSoap11Binding" type="ns:ListMetadataServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listschema">
      <soap:operation soapAction="urn:listschema" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ListMetadataServiceRegistryException">
        <soap:fault name="ListMetadataServiceRegistryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listservices">
      <soap:operation soapAction="urn:listservices" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ListMetadataServiceRegistryException">
        <soap:fault name="ListMetadataServiceRegistryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listwsdls">
      <soap:operation soapAction="urn:listwsdls" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ListMetadataServiceRegistryException">
        <soap:fault name="ListMetadataServiceRegistryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listpolicies">
      <soap:operation soapAction="urn:listpolicies" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ListMetadataServiceRegistryException">
        <soap:fault name="ListMetadataServiceRegistryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListMetadataService">
    <wsdl:port name="ListMetadataServiceHttpsSoap11Endpoint" binding="ns:ListMetadataServiceSoap11Binding">
      <soap:address location="https://governance.cloud-test.wso2.com:9445/services/ListMetadataService.ListMetadataServiceHttpsSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="ListMetadataServiceHttpsEndpoint" binding="ns:ListMetadataServiceHttpBinding">
      <http:address location="https://governance.cloud-test.wso2.com:9445/services/ListMetadataService.ListMetadataServiceHttpsEndpoint/"/>
    </wsdl:port>
    <wsdl:port name="ListMetadataServiceHttpsSoap12Endpoint" binding="ns:ListMetadataServiceSoap12Binding">
      <soap12:address location="https://governance.cloud-test.wso2.com:9445/services/ListMetadataService.ListMetadataServiceHttpsSoap12Endpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
