BAMSummaryQueryDS/resources/BAMSummaryQueryDS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.wso2.org/dataservice" xmlns:ns1="http://ws.wso2.org/dataservice" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://bam.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation/>
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://bam.carbon.wso2.org">
            <xs:element name="getSequenceStatHourlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="sequenceName" nillable="true" type="xs:string"/>
                        <xs:element name="direction" nillable="true" type="xs:string"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="medSummaryStats" type="ns0:medSummaryStats"/>
            <xs:complexType name="medSummaryStats">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="medSummaryStat" type="ns0:medSummaryStat"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="medSummaryStat">
                <xs:sequence>
                    <xs:element name="timestamp" nillable="true" type="xs:string"/>
                    <xs:element name="avgResTime" nillable="true" type="xs:string"/>
                    <xs:element name="maxResTime" nillable="true" type="xs:string"/>
                    <xs:element name="minResTime" nillable="true" type="xs:string"/>
                    <xs:element name="reqCount" nillable="true" type="xs:string"/>
                    <xs:element name="faultCount" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getEndpointStatYearlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="endpointName" nillable="true" type="xs:string"/>
                        <xs:element name="direction" nillable="true" type="xs:string"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSequenceStatMonthlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="sequenceName" nillable="true" type="xs:string"/>
                        <xs:element name="direction" nillable="true" type="xs:string"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServerStatDailySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="summaryStats" type="ns0:summaryStats"/>
            <xs:complexType name="summaryStats">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="summaryStat" type="ns0:summaryStat"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="summaryStat">
                <xs:sequence>
                    <xs:element name="timestamp" nillable="true" type="xs:string"/>
                    <xs:element name="avgResTime" nillable="true" type="xs:string"/>
                    <xs:element name="maxResTime" nillable="true" type="xs:string"/>
                    <xs:element name="minResTime" nillable="true" type="xs:string"/>
                    <xs:element name="reqCount" nillable="true" type="xs:string"/>
                    <xs:element name="resCount" nillable="true" type="xs:string"/>
                    <xs:element name="faultCount" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getServiceStatYearlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceId" nillable="true" type="xs:int"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProxyStatYearlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="proxyName" nillable="true" type="xs:string"/>
                        <xs:element name="direction" nillable="true" type="xs:string"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServerStatYearlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEndpointStatQuarterlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="endpointName" nillable="true" type="xs:string"/>
                        <xs:element name="direction" nillable="true" type="xs:string"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServerStatQuarterlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceStatQuarterlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceId" nillable="true" type="xs:int"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceStatHourlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceId" nillable="true" type="xs:int"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProxyStatDailySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="proxyName" nillable="true" type="xs:string"/>
                        <xs:element name="direction" nillable="true" type="xs:string"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOperationStatYearlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="operationId" nillable="true" type="xs:int"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEndpointStatMonthlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="endpointName" nillable="true" type="xs:string"/>
                        <xs:element name="direction" nillable="true" type="xs:string"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProxyStatMonthlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="proxyName" nillable="true" type="xs:string"/>
                        <xs:element name="direction" nillable="true" type="xs:string"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOperationStatDailySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="operationId" nillable="true" type="xs:int"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServerStatMonthlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSequenceStatQuarterlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="sequenceName" nillable="true" type="xs:string"/>
                        <xs:element name="direction" nillable="true" type="xs:string"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProxyStatQuarterlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="proxyName" nillable="true" type="xs:string"/>
                        <xs:element name="direction" nillable="true" type="xs:string"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceStatDailySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceId" nillable="true" type="xs:int"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProxyStatHourlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="proxyName" nillable="true" type="xs:string"/>
                        <xs:element name="direction" nillable="true" type="xs:string"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSequenceStatYearlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="sequenceName" nillable="true" type="xs:string"/>
                        <xs:element name="direction" nillable="true" type="xs:string"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEndpointStatDailySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="endpointName" nillable="true" type="xs:string"/>
                        <xs:element name="direction" nillable="true" type="xs:string"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSequenceStatDailySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="sequenceName" nillable="true" type="xs:string"/>
                        <xs:element name="direction" nillable="true" type="xs:string"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOperationStatHourlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="operationId" nillable="true" type="xs:int"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOperationStatQuarterlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="operationId" nillable="true" type="xs:int"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOperationStatMonthlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="operationId" nillable="true" type="xs:int"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServerStatHourlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEndpointStatHourlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="endpointName" nillable="true" type="xs:string"/>
                        <xs:element name="direction" nillable="true" type="xs:string"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceStatMonthlySummaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceId" nillable="true" type="xs:int"/>
                        <xs:element name="startTime" nillable="true" type="xs:string"/>
                        <xs:element name="endTime" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice">
            <xs:element name="DataServiceFault" type="xs:string"/>
            <xs:element name="REQUEST_STATUS" type="xs:string"/>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="getEndpointStatQuarterlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:medSummaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOperationStatDailySummariesResponse">
    <wsdl:part name="parameters" element="ns0:summaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServerStatDailySummariesResponse">
    <wsdl:part name="parameters" element="ns0:summaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceStatHourlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getServiceStatHourlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceStatQuarterlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getServiceStatQuarterlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProxyStatDailySummariesResponse">
    <wsdl:part name="parameters" element="ns0:medSummaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceStatHourlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:summaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProxyStatQuarterlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:medSummaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceStatYearlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:summaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOperationStatDailySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getOperationStatDailySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProxyStatDailySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getProxyStatDailySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceStatDailySummariesResponse">
    <wsdl:part name="parameters" element="ns0:summaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSequenceStatHourlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getSequenceStatHourlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServerStatYearlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:summaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEndpointStatHourlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getEndpointStatHourlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEndpointStatYearlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:medSummaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProxyStatYearlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:medSummaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServerStatYearlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getServerStatYearlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEndpointStatDailySummariesResponse">
    <wsdl:part name="parameters" element="ns0:medSummaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEndpointStatYearlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getEndpointStatYearlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceStatMonthlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:summaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProxyStatMonthlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getProxyStatMonthlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServerStatQuarterlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:summaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServerStatQuarterlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getServerStatQuarterlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSequenceStatYearlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getSequenceStatYearlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServerStatHourlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:summaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceStatMonthlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getServiceStatMonthlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOperationStatQuarterlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:summaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEndpointStatDailySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getEndpointStatDailySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProxyStatQuarterlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getProxyStatQuarterlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSequenceStatMonthlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:medSummaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOperationStatHourlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:summaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSequenceStatHourlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:medSummaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOperationStatMonthlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getOperationStatMonthlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceStatYearlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getServiceStatYearlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSequenceStatDailySummariesResponse">
    <wsdl:part name="parameters" element="ns0:medSummaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOperationStatYearlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getOperationStatYearlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEndpointStatQuarterlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getEndpointStatQuarterlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEndpointStatHourlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:medSummaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOperationStatHourlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getOperationStatHourlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEndpointStatMonthlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:medSummaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProxyStatMonthlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:medSummaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServerStatHourlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getServerStatHourlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceStatQuarterlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:summaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProxyStatHourlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:medSummaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProxyStatHourlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getProxyStatHourlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServerStatDailySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getServerStatDailySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSequenceStatYearlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:medSummaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOperationStatMonthlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:summaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProxyStatYearlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getProxyStatYearlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOperationStatQuarterlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getOperationStatQuarterlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOperationStatYearlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:summaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServerStatMonthlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:summaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEndpointStatMonthlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getEndpointStatMonthlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSequenceStatQuarterlySummariesResponse">
    <wsdl:part name="parameters" element="ns0:medSummaryStats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSequenceStatQuarterlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getSequenceStatQuarterlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSequenceStatMonthlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getSequenceStatMonthlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSequenceStatDailySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getSequenceStatDailySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServerStatMonthlySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getServerStatMonthlySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DataServiceFault">
    <wsdl:part name="parameters" element="ns1:DataServiceFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceStatDailySummariesRequest">
    <wsdl:part name="parameters" element="ns0:getServiceStatDailySummaries">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BAMSummaryQueryDSPortType">
    <wsdl:operation name="getServiceStatYearlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getServiceStatYearlySummariesRequest" wsaw:Action="urn:getServiceStatYearlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getServiceStatYearlySummariesResponse" wsaw:Action="urn:getServiceStatYearlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getServiceStatYearlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEndpointStatQuarterlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getEndpointStatQuarterlySummariesRequest" wsaw:Action="urn:getEndpointStatQuarterlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getEndpointStatQuarterlySummariesResponse" wsaw:Action="urn:getEndpointStatQuarterlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getEndpointStatQuarterlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEndpointStatDailySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getEndpointStatDailySummariesRequest" wsaw:Action="urn:getEndpointStatDailySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getEndpointStatDailySummariesResponse" wsaw:Action="urn:getEndpointStatDailySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getEndpointStatDailySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProxyStatMonthlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getProxyStatMonthlySummariesRequest" wsaw:Action="urn:getProxyStatMonthlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getProxyStatMonthlySummariesResponse" wsaw:Action="urn:getProxyStatMonthlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getProxyStatMonthlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServerStatHourlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getServerStatHourlySummariesRequest" wsaw:Action="urn:getServerStatHourlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getServerStatHourlySummariesResponse" wsaw:Action="urn:getServerStatHourlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getServerStatHourlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProxyStatYearlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getProxyStatYearlySummariesRequest" wsaw:Action="urn:getProxyStatYearlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getProxyStatYearlySummariesResponse" wsaw:Action="urn:getProxyStatYearlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getProxyStatYearlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProxyStatHourlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getProxyStatHourlySummariesRequest" wsaw:Action="urn:getProxyStatHourlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getProxyStatHourlySummariesResponse" wsaw:Action="urn:getProxyStatHourlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getProxyStatHourlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServerStatQuarterlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getServerStatQuarterlySummariesRequest" wsaw:Action="urn:getServerStatQuarterlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getServerStatQuarterlySummariesResponse" wsaw:Action="urn:getServerStatQuarterlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getServerStatQuarterlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOperationStatYearlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getOperationStatYearlySummariesRequest" wsaw:Action="urn:getOperationStatYearlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getOperationStatYearlySummariesResponse" wsaw:Action="urn:getOperationStatYearlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getOperationStatYearlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceStatHourlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getServiceStatHourlySummariesRequest" wsaw:Action="urn:getServiceStatHourlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getServiceStatHourlySummariesResponse" wsaw:Action="urn:getServiceStatHourlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getServiceStatHourlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEndpointStatHourlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getEndpointStatHourlySummariesRequest" wsaw:Action="urn:getEndpointStatHourlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getEndpointStatHourlySummariesResponse" wsaw:Action="urn:getEndpointStatHourlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getEndpointStatHourlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProxyStatQuarterlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getProxyStatQuarterlySummariesRequest" wsaw:Action="urn:getProxyStatQuarterlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getProxyStatQuarterlySummariesResponse" wsaw:Action="urn:getProxyStatQuarterlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getProxyStatQuarterlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEndpointStatYearlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getEndpointStatYearlySummariesRequest" wsaw:Action="urn:getEndpointStatYearlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getEndpointStatYearlySummariesResponse" wsaw:Action="urn:getEndpointStatYearlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getEndpointStatYearlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOperationStatHourlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getOperationStatHourlySummariesRequest" wsaw:Action="urn:getOperationStatHourlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getOperationStatHourlySummariesResponse" wsaw:Action="urn:getOperationStatHourlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getOperationStatHourlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOperationStatMonthlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getOperationStatMonthlySummariesRequest" wsaw:Action="urn:getOperationStatMonthlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getOperationStatMonthlySummariesResponse" wsaw:Action="urn:getOperationStatMonthlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getOperationStatMonthlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSequenceStatQuarterlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getSequenceStatQuarterlySummariesRequest" wsaw:Action="urn:getSequenceStatQuarterlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getSequenceStatQuarterlySummariesResponse" wsaw:Action="urn:getSequenceStatQuarterlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getSequenceStatQuarterlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProxyStatDailySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getProxyStatDailySummariesRequest" wsaw:Action="urn:getProxyStatDailySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getProxyStatDailySummariesResponse" wsaw:Action="urn:getProxyStatDailySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getProxyStatDailySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOperationStatDailySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getOperationStatDailySummariesRequest" wsaw:Action="urn:getOperationStatDailySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getOperationStatDailySummariesResponse" wsaw:Action="urn:getOperationStatDailySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getOperationStatDailySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServerStatDailySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getServerStatDailySummariesRequest" wsaw:Action="urn:getServerStatDailySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getServerStatDailySummariesResponse" wsaw:Action="urn:getServerStatDailySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getServerStatDailySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceStatMonthlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getServiceStatMonthlySummariesRequest" wsaw:Action="urn:getServiceStatMonthlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getServiceStatMonthlySummariesResponse" wsaw:Action="urn:getServiceStatMonthlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getServiceStatMonthlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSequenceStatMonthlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getSequenceStatMonthlySummariesRequest" wsaw:Action="urn:getSequenceStatMonthlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getSequenceStatMonthlySummariesResponse" wsaw:Action="urn:getSequenceStatMonthlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getSequenceStatMonthlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServerStatMonthlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getServerStatMonthlySummariesRequest" wsaw:Action="urn:getServerStatMonthlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getServerStatMonthlySummariesResponse" wsaw:Action="urn:getServerStatMonthlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getServerStatMonthlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSequenceStatYearlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getSequenceStatYearlySummariesRequest" wsaw:Action="urn:getSequenceStatYearlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getSequenceStatYearlySummariesResponse" wsaw:Action="urn:getSequenceStatYearlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getSequenceStatYearlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceStatQuarterlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getServiceStatQuarterlySummariesRequest" wsaw:Action="urn:getServiceStatQuarterlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getServiceStatQuarterlySummariesResponse" wsaw:Action="urn:getServiceStatQuarterlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getServiceStatQuarterlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOperationStatQuarterlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getOperationStatQuarterlySummariesRequest" wsaw:Action="urn:getOperationStatQuarterlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getOperationStatQuarterlySummariesResponse" wsaw:Action="urn:getOperationStatQuarterlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getOperationStatQuarterlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServerStatYearlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getServerStatYearlySummariesRequest" wsaw:Action="urn:getServerStatYearlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getServerStatYearlySummariesResponse" wsaw:Action="urn:getServerStatYearlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getServerStatYearlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSequenceStatHourlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getSequenceStatHourlySummariesRequest" wsaw:Action="urn:getSequenceStatHourlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getSequenceStatHourlySummariesResponse" wsaw:Action="urn:getSequenceStatHourlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getSequenceStatHourlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSequenceStatDailySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getSequenceStatDailySummariesRequest" wsaw:Action="urn:getSequenceStatDailySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getSequenceStatDailySummariesResponse" wsaw:Action="urn:getSequenceStatDailySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getSequenceStatDailySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceStatDailySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getServiceStatDailySummariesRequest" wsaw:Action="urn:getServiceStatDailySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getServiceStatDailySummariesResponse" wsaw:Action="urn:getServiceStatDailySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getServiceStatDailySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEndpointStatMonthlySummaries">
<wsdl:documentation/>
      <wsdl:input message="ns1:getEndpointStatMonthlySummariesRequest" wsaw:Action="urn:getEndpointStatMonthlySummaries">
    </wsdl:input>
      <wsdl:output message="ns1:getEndpointStatMonthlySummariesResponse" wsaw:Action="urn:getEndpointStatMonthlySummariesResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:getEndpointStatMonthlySummariesDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BAMSummaryQueryDSSOAP11Binding" type="ns1:BAMSummaryQueryDSPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getServiceStatYearlySummaries">
      <soap:operation soapAction="urn:getServiceStatYearlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEndpointStatQuarterlySummaries">
      <soap:operation soapAction="urn:getEndpointStatQuarterlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEndpointStatDailySummaries">
      <soap:operation soapAction="urn:getEndpointStatDailySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProxyStatMonthlySummaries">
      <soap:operation soapAction="urn:getProxyStatMonthlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServerStatHourlySummaries">
      <soap:operation soapAction="urn:getServerStatHourlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProxyStatYearlySummaries">
      <soap:operation soapAction="urn:getProxyStatYearlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProxyStatHourlySummaries">
      <soap:operation soapAction="urn:getProxyStatHourlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServerStatQuarterlySummaries">
      <soap:operation soapAction="urn:getServerStatQuarterlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOperationStatYearlySummaries">
      <soap:operation soapAction="urn:getOperationStatYearlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceStatHourlySummaries">
      <soap:operation soapAction="urn:getServiceStatHourlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEndpointStatHourlySummaries">
      <soap:operation soapAction="urn:getEndpointStatHourlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProxyStatQuarterlySummaries">
      <soap:operation soapAction="urn:getProxyStatQuarterlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEndpointStatYearlySummaries">
      <soap:operation soapAction="urn:getEndpointStatYearlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOperationStatHourlySummaries">
      <soap:operation soapAction="urn:getOperationStatHourlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOperationStatMonthlySummaries">
      <soap:operation soapAction="urn:getOperationStatMonthlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSequenceStatQuarterlySummaries">
      <soap:operation soapAction="urn:getSequenceStatQuarterlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProxyStatDailySummaries">
      <soap:operation soapAction="urn:getProxyStatDailySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOperationStatDailySummaries">
      <soap:operation soapAction="urn:getOperationStatDailySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServerStatDailySummaries">
      <soap:operation soapAction="urn:getServerStatDailySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceStatMonthlySummaries">
      <soap:operation soapAction="urn:getServiceStatMonthlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSequenceStatMonthlySummaries">
      <soap:operation soapAction="urn:getSequenceStatMonthlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServerStatMonthlySummaries">
      <soap:operation soapAction="urn:getServerStatMonthlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSequenceStatYearlySummaries">
      <soap:operation soapAction="urn:getSequenceStatYearlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceStatQuarterlySummaries">
      <soap:operation soapAction="urn:getServiceStatQuarterlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOperationStatQuarterlySummaries">
      <soap:operation soapAction="urn:getOperationStatQuarterlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServerStatYearlySummaries">
      <soap:operation soapAction="urn:getServerStatYearlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSequenceStatHourlySummaries">
      <soap:operation soapAction="urn:getSequenceStatHourlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSequenceStatDailySummaries">
      <soap:operation soapAction="urn:getSequenceStatDailySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceStatDailySummaries">
      <soap:operation soapAction="urn:getServiceStatDailySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEndpointStatMonthlySummaries">
      <soap:operation soapAction="urn:getEndpointStatMonthlySummaries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BAMSummaryQueryDSHttpBinding" type="ns1:BAMSummaryQueryDSPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="getServiceStatYearlySummaries">
      <http:operation location="getServiceStatYearlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEndpointStatQuarterlySummaries">
      <http:operation location="getEndpointStatQuarterlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEndpointStatDailySummaries">
      <http:operation location="getEndpointStatDailySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProxyStatMonthlySummaries">
      <http:operation location="getProxyStatMonthlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServerStatHourlySummaries">
      <http:operation location="getServerStatHourlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProxyStatYearlySummaries">
      <http:operation location="getProxyStatYearlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProxyStatHourlySummaries">
      <http:operation location="getProxyStatHourlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServerStatQuarterlySummaries">
      <http:operation location="getServerStatQuarterlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOperationStatYearlySummaries">
      <http:operation location="getOperationStatYearlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceStatHourlySummaries">
      <http:operation location="getServiceStatHourlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEndpointStatHourlySummaries">
      <http:operation location="getEndpointStatHourlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProxyStatQuarterlySummaries">
      <http:operation location="getProxyStatQuarterlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEndpointStatYearlySummaries">
      <http:operation location="getEndpointStatYearlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOperationStatHourlySummaries">
      <http:operation location="getOperationStatHourlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOperationStatMonthlySummaries">
      <http:operation location="getOperationStatMonthlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSequenceStatQuarterlySummaries">
      <http:operation location="getSequenceStatQuarterlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProxyStatDailySummaries">
      <http:operation location="getProxyStatDailySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOperationStatDailySummaries">
      <http:operation location="getOperationStatDailySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServerStatDailySummaries">
      <http:operation location="getServerStatDailySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceStatMonthlySummaries">
      <http:operation location="getServiceStatMonthlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSequenceStatMonthlySummaries">
      <http:operation location="getSequenceStatMonthlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServerStatMonthlySummaries">
      <http:operation location="getServerStatMonthlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSequenceStatYearlySummaries">
      <http:operation location="getSequenceStatYearlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceStatQuarterlySummaries">
      <http:operation location="getServiceStatQuarterlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOperationStatQuarterlySummaries">
      <http:operation location="getOperationStatQuarterlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServerStatYearlySummaries">
      <http:operation location="getServerStatYearlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSequenceStatHourlySummaries">
      <http:operation location="getSequenceStatHourlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSequenceStatDailySummaries">
      <http:operation location="getSequenceStatDailySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceStatDailySummaries">
      <http:operation location="getServiceStatDailySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEndpointStatMonthlySummaries">
      <http:operation location="getEndpointStatMonthlySummaries"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BAMSummaryQueryDSSOAP12Binding" type="ns1:BAMSummaryQueryDSPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getServiceStatYearlySummaries">
      <soap12:operation soapAction="urn:getServiceStatYearlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEndpointStatQuarterlySummaries">
      <soap12:operation soapAction="urn:getEndpointStatQuarterlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEndpointStatDailySummaries">
      <soap12:operation soapAction="urn:getEndpointStatDailySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProxyStatMonthlySummaries">
      <soap12:operation soapAction="urn:getProxyStatMonthlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServerStatHourlySummaries">
      <soap12:operation soapAction="urn:getServerStatHourlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProxyStatYearlySummaries">
      <soap12:operation soapAction="urn:getProxyStatYearlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProxyStatHourlySummaries">
      <soap12:operation soapAction="urn:getProxyStatHourlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServerStatQuarterlySummaries">
      <soap12:operation soapAction="urn:getServerStatQuarterlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOperationStatYearlySummaries">
      <soap12:operation soapAction="urn:getOperationStatYearlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceStatHourlySummaries">
      <soap12:operation soapAction="urn:getServiceStatHourlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEndpointStatHourlySummaries">
      <soap12:operation soapAction="urn:getEndpointStatHourlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProxyStatQuarterlySummaries">
      <soap12:operation soapAction="urn:getProxyStatQuarterlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEndpointStatYearlySummaries">
      <soap12:operation soapAction="urn:getEndpointStatYearlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOperationStatHourlySummaries">
      <soap12:operation soapAction="urn:getOperationStatHourlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOperationStatMonthlySummaries">
      <soap12:operation soapAction="urn:getOperationStatMonthlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSequenceStatQuarterlySummaries">
      <soap12:operation soapAction="urn:getSequenceStatQuarterlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProxyStatDailySummaries">
      <soap12:operation soapAction="urn:getProxyStatDailySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOperationStatDailySummaries">
      <soap12:operation soapAction="urn:getOperationStatDailySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServerStatDailySummaries">
      <soap12:operation soapAction="urn:getServerStatDailySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceStatMonthlySummaries">
      <soap12:operation soapAction="urn:getServiceStatMonthlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSequenceStatMonthlySummaries">
      <soap12:operation soapAction="urn:getSequenceStatMonthlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServerStatMonthlySummaries">
      <soap12:operation soapAction="urn:getServerStatMonthlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSequenceStatYearlySummaries">
      <soap12:operation soapAction="urn:getSequenceStatYearlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceStatQuarterlySummaries">
      <soap12:operation soapAction="urn:getServiceStatQuarterlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOperationStatQuarterlySummaries">
      <soap12:operation soapAction="urn:getOperationStatQuarterlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServerStatYearlySummaries">
      <soap12:operation soapAction="urn:getServerStatYearlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSequenceStatHourlySummaries">
      <soap12:operation soapAction="urn:getSequenceStatHourlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSequenceStatDailySummaries">
      <soap12:operation soapAction="urn:getSequenceStatDailySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceStatDailySummaries">
      <soap12:operation soapAction="urn:getServiceStatDailySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEndpointStatMonthlySummaries">
      <soap12:operation soapAction="urn:getEndpointStatMonthlySummaries" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BAMSummaryQueryDS">
    <wsdl:port name="HTTPEndpoint" binding="ns1:BAMSummaryQueryDSHttpBinding">
      <http:address location="http://monitor.cloud-test.wso2.com:9767/services/BAMSummaryQueryDS.HTTPEndpoint/"/>
    </wsdl:port>
    <wsdl:port name="SecureSOAP12Endpoint" binding="ns1:BAMSummaryQueryDSSOAP12Binding">
      <soap12:address location="https://monitor.cloud-test.wso2.com:9447/services/BAMSummaryQueryDS.SecureSOAP12Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="SecureHTTPEndpoint" binding="ns1:BAMSummaryQueryDSHttpBinding">
      <http:address location="https://monitor.cloud-test.wso2.com:9447/services/BAMSummaryQueryDS.SecureHTTPEndpoint/"/>
    </wsdl:port>
    <wsdl:port name="SOAP11Endpoint" binding="ns1:BAMSummaryQueryDSSOAP11Binding">
      <soap:address location="http://monitor.cloud-test.wso2.com:9767/services/BAMSummaryQueryDS.SOAP11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="SecureSOAP11Endpoint" binding="ns1:BAMSummaryQueryDSSOAP11Binding">
      <soap:address location="https://monitor.cloud-test.wso2.com:9447/services/BAMSummaryQueryDS.SecureSOAP11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="SOAP12Endpoint" binding="ns1:BAMSummaryQueryDSSOAP12Binding">
      <soap12:address location="http://monitor.cloud-test.wso2.com:9767/services/BAMSummaryQueryDS.SOAP12Endpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
