3553896221956736E12/resources/RegistryAdminService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.server.registry.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.server.registry.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation>RegistryAdminService</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.server.registry.carbon.wso2.org">
            <xs:element name="isRegistryReadOnly">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="isRegistryReadOnlyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getHTTPSPermalink">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getHTTPSPermalinkResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getHTTPPermalink">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getHTTPPermalinkResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="isRegistryReadOnlyRequest">
    <wsdl:part name="parameters" element="ns:isRegistryReadOnly">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHTTPPermalinkRequest">
    <wsdl:part name="parameters" element="ns:getHTTPPermalink">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isRegistryReadOnlyResponse">
    <wsdl:part name="parameters" element="ns:isRegistryReadOnlyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHTTPPermalinkResponse">
    <wsdl:part name="parameters" element="ns:getHTTPPermalinkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHTTPSPermalinkRequest">
    <wsdl:part name="parameters" element="ns:getHTTPSPermalink">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHTTPSPermalinkResponse">
    <wsdl:part name="parameters" element="ns:getHTTPSPermalinkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RegistryAdminServicePortType">
    <wsdl:operation name="getHTTPPermalink">
      <wsdl:input message="ns:getHTTPPermalinkRequest" wsaw:Action="urn:getHTTPPermalink">
    </wsdl:input>
      <wsdl:output message="ns:getHTTPPermalinkResponse" wsaw:Action="urn:getHTTPPermalinkResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isRegistryReadOnly">
      <wsdl:input message="ns:isRegistryReadOnlyRequest" wsaw:Action="urn:isRegistryReadOnly">
    </wsdl:input>
      <wsdl:output message="ns:isRegistryReadOnlyResponse" wsaw:Action="urn:isRegistryReadOnlyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHTTPSPermalink">
      <wsdl:input message="ns:getHTTPSPermalinkRequest" wsaw:Action="urn:getHTTPSPermalink">
    </wsdl:input>
      <wsdl:output message="ns:getHTTPSPermalinkResponse" wsaw:Action="urn:getHTTPSPermalinkResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegistryAdminServiceHttpBinding" type="ns:RegistryAdminServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="getHTTPPermalink">
      <http:operation location="getHTTPPermalink"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isRegistryReadOnly">
      <http:operation location="isRegistryReadOnly"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHTTPSPermalink">
      <http:operation location="getHTTPSPermalink"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegistryAdminServiceSoap12Binding" type="ns:RegistryAdminServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getHTTPPermalink">
      <soap12:operation soapAction="urn:getHTTPPermalink" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isRegistryReadOnly">
      <soap12:operation soapAction="urn:isRegistryReadOnly" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHTTPSPermalink">
      <soap12:operation soapAction="urn:getHTTPSPermalink" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegistryAdminServiceSoap11Binding" type="ns:RegistryAdminServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getHTTPPermalink">
      <soap:operation soapAction="urn:getHTTPPermalink" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isRegistryReadOnly">
      <soap:operation soapAction="urn:isRegistryReadOnly" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHTTPSPermalink">
      <soap:operation soapAction="urn:getHTTPSPermalink" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistryAdminService">
    <wsdl:port name="RegistryAdminServiceHttpsSoap11Endpoint" binding="ns:RegistryAdminServiceSoap11Binding">
      <soap:address location="https://appserver.cloud-test.wso2.com:9446/services/RegistryAdminService.RegistryAdminServiceHttpsSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="RegistryAdminServiceHttpsEndpoint" binding="ns:RegistryAdminServiceHttpBinding">
      <http:address location="https://appserver.cloud-test.wso2.com:9446/services/RegistryAdminService.RegistryAdminServiceHttpsEndpoint/"/>
    </wsdl:port>
    <wsdl:port name="RegistryAdminServiceHttpsSoap12Endpoint" binding="ns:RegistryAdminServiceSoap12Binding">
      <soap12:address location="https://appserver.cloud-test.wso2.com:9446/services/RegistryAdminService.RegistryAdminServiceHttpsSoap12Endpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
