3553921602363298E12/resources/TenantRegAgentService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.agent.reg.tenant.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.agent.reg.tenant.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax2436="http://core.user.carbon.wso2.org/xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2437="http://api.user.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation>TenantRegAgentService</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.user.carbon.wso2.org/xsd">
            <xs:complexType name="UserStoreException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.agent.reg.tenant.carbon.wso2.org" xmlns:ax2439="http://core.user.carbon.wso2.org/xsd">
            <xs:import namespace="http://core.user.carbon.wso2.org/xsd"/>
            <xs:element name="TenantRegAgentServiceUserStoreException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="UserStoreException" nillable="true" type="ax2436:UserStoreException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="renameTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                        <xs:element minOccurs="0" name="oldDomainName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="newDomainName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getListenerOrder">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getListenerOrderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://core.user.carbon.wso2.org/xsd" xmlns:ax2438="http://api.user.carbon.wso2.org/xsd">
            <xs:import namespace="http://api.user.carbon.wso2.org/xsd"/>
            <xs:complexType name="UserStoreException">
                <xs:complexContent>
                    <xs:extension base="ax2437:UserStoreException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="getListenerOrderRequest">
    <wsdl:part name="parameters" element="ns:getListenerOrder">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addTenantRequest">
    <wsdl:part name="parameters" element="ns:addTenant">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TenantRegAgentServiceUserStoreException">
    <wsdl:part name="parameters" element="ns:TenantRegAgentServiceUserStoreException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListenerOrderResponse">
    <wsdl:part name="parameters" element="ns:getListenerOrderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateTenantRequest">
    <wsdl:part name="parameters" element="ns:updateTenant">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="renameTenantRequest">
    <wsdl:part name="parameters" element="ns:renameTenant">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TenantRegAgentServicePortType">
    <wsdl:operation name="renameTenant">
      <wsdl:input message="ns:renameTenantRequest" wsaw:Action="urn:renameTenant">
    </wsdl:input>
      <wsdl:fault name="TenantRegAgentServiceUserStoreException" message="ns:TenantRegAgentServiceUserStoreException" wsaw:Action="urn:renameTenantTenantRegAgentServiceUserStoreException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateTenant">
      <wsdl:input message="ns:updateTenantRequest" wsaw:Action="urn:updateTenant">
    </wsdl:input>
      <wsdl:fault name="TenantRegAgentServiceUserStoreException" message="ns:TenantRegAgentServiceUserStoreException" wsaw:Action="urn:updateTenantTenantRegAgentServiceUserStoreException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getListenerOrder">
      <wsdl:input message="ns:getListenerOrderRequest" wsaw:Action="urn:getListenerOrder">
    </wsdl:input>
      <wsdl:output message="ns:getListenerOrderResponse" wsaw:Action="urn:getListenerOrderResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTenant">
      <wsdl:input message="ns:addTenantRequest" wsaw:Action="urn:addTenant">
    </wsdl:input>
      <wsdl:fault name="TenantRegAgentServiceUserStoreException" message="ns:TenantRegAgentServiceUserStoreException" wsaw:Action="urn:addTenantTenantRegAgentServiceUserStoreException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TenantRegAgentServiceHttpBinding" type="ns:TenantRegAgentServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="renameTenant">
      <http:operation location="renameTenant"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="updateTenant">
      <http:operation location="updateTenant"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getListenerOrder">
      <http:operation location="getListenerOrder"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTenant">
      <http:operation location="addTenant"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TenantRegAgentServiceSoap11Binding" type="ns:TenantRegAgentServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="renameTenant">
      <soap:operation soapAction="urn:renameTenant" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="TenantRegAgentServiceUserStoreException">
        <soap:fault name="TenantRegAgentServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateTenant">
      <soap:operation soapAction="urn:updateTenant" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="TenantRegAgentServiceUserStoreException">
        <soap:fault name="TenantRegAgentServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getListenerOrder">
      <soap:operation soapAction="urn:getListenerOrder" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTenant">
      <soap:operation soapAction="urn:addTenant" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="TenantRegAgentServiceUserStoreException">
        <soap:fault name="TenantRegAgentServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TenantRegAgentServiceSoap12Binding" type="ns:TenantRegAgentServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="renameTenant">
      <soap12:operation soapAction="urn:renameTenant" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="TenantRegAgentServiceUserStoreException">
        <soap12:fault name="TenantRegAgentServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateTenant">
      <soap12:operation soapAction="urn:updateTenant" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="TenantRegAgentServiceUserStoreException">
        <soap12:fault name="TenantRegAgentServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getListenerOrder">
      <soap12:operation soapAction="urn:getListenerOrder" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTenant">
      <soap12:operation soapAction="urn:addTenant" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:fault name="TenantRegAgentServiceUserStoreException">
        <soap12:fault name="TenantRegAgentServiceUserStoreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TenantRegAgentService">
    <wsdl:port name="TenantRegAgentServiceHttpsSoap11Endpoint" binding="ns:TenantRegAgentServiceSoap11Binding">
      <soap:address location="https://appserver.cloud-test.wso2.com:9446/services/TenantRegAgentService.TenantRegAgentServiceHttpsSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="TenantRegAgentServiceHttpsSoap12Endpoint" binding="ns:TenantRegAgentServiceSoap12Binding">
      <soap12:address location="https://appserver.cloud-test.wso2.com:9446/services/TenantRegAgentService.TenantRegAgentServiceHttpsSoap12Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="TenantRegAgentServiceHttpsEndpoint" binding="ns:TenantRegAgentServiceHttpBinding">
      <http:address location="https://appserver.cloud-test.wso2.com:9446/services/TenantRegAgentService.TenantRegAgentServiceHttpsEndpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
