3553975648417407E12/resources/BAMServerUserDataQueryDS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.wso2.org/dataservice" xmlns:ns1="http://ws.wso2.org/dataservice" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://bam.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation/>
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://bam.carbon.wso2.org">
            <xs:element name="queryServerUserDataWithTwoORedConditionsForServerDistinct">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="param1" nillable="true" type="xs:string"/>
                        <xs:element name="param2" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="values" type="ns0:values"/>
            <xs:complexType name="values">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="ns0:value"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="value">
                <xs:sequence>
                    <xs:element name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="queryServerUserDataWithThreeANDedConditionsForServer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="param1" nillable="true" type="xs:string"/>
                        <xs:element name="param2" nillable="true" type="xs:string"/>
                        <xs:element name="param3" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryServerUserDataWithOneConditionForServerDistinct">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="param1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryServerUserDataWithThreeORedConditionsForServerDistinct">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="param1" nillable="true" type="xs:string"/>
                        <xs:element name="param2" nillable="true" type="xs:string"/>
                        <xs:element name="param3" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryServerUserDataWithTwoANDedConditionsForServerDistinct">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="param1" nillable="true" type="xs:string"/>
                        <xs:element name="param2" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryServerUserDataWithTwoANDedConditionsForServer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="param1" nillable="true" type="xs:string"/>
                        <xs:element name="param2" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryServerUserDataWithOneConditionForServer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="param1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryServerUserDataWithThreeORedConditionsForServer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="param1" nillable="true" type="xs:string"/>
                        <xs:element name="param2" nillable="true" type="xs:string"/>
                        <xs:element name="param3" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryServerUserDataWithTwoORedConditionsForServer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="param1" nillable="true" type="xs:string"/>
                        <xs:element name="param2" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryServerUserDataWithThreeANDedConditionsForServerDistinct">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serverId" nillable="true" type="xs:int"/>
                        <xs:element name="param1" nillable="true" type="xs:string"/>
                        <xs:element name="param2" nillable="true" type="xs:string"/>
                        <xs:element name="param3" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice">
            <xs:element name="DataServiceFault" type="xs:string"/>
            <xs:element name="REQUEST_STATUS" type="xs:string"/>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="queryServerUserDataWithThreeANDedConditionsForServerDistinctRequest">
    <wsdl:part name="parameters" element="ns0:queryServerUserDataWithThreeANDedConditionsForServerDistinct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryServerUserDataWithTwoORedConditionsForServerDistinctResponse">
    <wsdl:part name="parameters" element="ns0:values">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryServerUserDataWithThreeANDedConditionsForServerRequest">
    <wsdl:part name="parameters" element="ns0:queryServerUserDataWithThreeANDedConditionsForServer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryServerUserDataWithOneConditionForServerResponse">
    <wsdl:part name="parameters" element="ns0:values">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryServerUserDataWithThreeORedConditionsForServerDistinctRequest">
    <wsdl:part name="parameters" element="ns0:queryServerUserDataWithThreeORedConditionsForServerDistinct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryServerUserDataWithOneConditionForServerDistinctRequest">
    <wsdl:part name="parameters" element="ns0:queryServerUserDataWithOneConditionForServerDistinct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryServerUserDataWithThreeORedConditionsForServerDistinctResponse">
    <wsdl:part name="parameters" element="ns0:values">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryServerUserDataWithTwoANDedConditionsForServerResponse">
    <wsdl:part name="parameters" element="ns0:values">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryServerUserDataWithOneConditionForServerDistinctResponse">
    <wsdl:part name="parameters" element="ns0:values">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryServerUserDataWithTwoANDedConditionsForServerDistinctRequest">
    <wsdl:part name="parameters" element="ns0:queryServerUserDataWithTwoANDedConditionsForServerDistinct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryServerUserDataWithThreeORedConditionsForServerResponse">
    <wsdl:part name="parameters" element="ns0:values">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryServerUserDataWithOneConditionForServerRequest">
    <wsdl:part name="parameters" element="ns0:queryServerUserDataWithOneConditionForServer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryServerUserDataWithThreeORedConditionsForServerRequest">
    <wsdl:part name="parameters" element="ns0:queryServerUserDataWithThreeORedConditionsForServer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryServerUserDataWithTwoANDedConditionsForServerRequest">
    <wsdl:part name="parameters" element="ns0:queryServerUserDataWithTwoANDedConditionsForServer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryServerUserDataWithTwoORedConditionsForServerDistinctRequest">
    <wsdl:part name="parameters" element="ns0:queryServerUserDataWithTwoORedConditionsForServerDistinct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DataServiceFault">
    <wsdl:part name="parameters" element="ns1:DataServiceFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryServerUserDataWithTwoORedConditionsForServerRequest">
    <wsdl:part name="parameters" element="ns0:queryServerUserDataWithTwoORedConditionsForServer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryServerUserDataWithThreeANDedConditionsForServerResponse">
    <wsdl:part name="parameters" element="ns0:values">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryServerUserDataWithTwoORedConditionsForServerResponse">
    <wsdl:part name="parameters" element="ns0:values">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryServerUserDataWithThreeANDedConditionsForServerDistinctResponse">
    <wsdl:part name="parameters" element="ns0:values">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryServerUserDataWithTwoANDedConditionsForServerDistinctResponse">
    <wsdl:part name="parameters" element="ns0:values">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BAMServerUserDataQueryDSPortType">
    <wsdl:operation name="queryServerUserDataWithTwoANDedConditionsForServer">
<wsdl:documentation/>
      <wsdl:input message="ns1:queryServerUserDataWithTwoANDedConditionsForServerRequest" wsaw:Action="urn:queryServerUserDataWithTwoANDedConditionsForServer">
    </wsdl:input>
      <wsdl:output message="ns1:queryServerUserDataWithTwoANDedConditionsForServerResponse" wsaw:Action="urn:queryServerUserDataWithTwoANDedConditionsForServerResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:queryServerUserDataWithTwoANDedConditionsForServerDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithThreeANDedConditionsForServer">
<wsdl:documentation/>
      <wsdl:input message="ns1:queryServerUserDataWithThreeANDedConditionsForServerRequest" wsaw:Action="urn:queryServerUserDataWithThreeANDedConditionsForServer">
    </wsdl:input>
      <wsdl:output message="ns1:queryServerUserDataWithThreeANDedConditionsForServerResponse" wsaw:Action="urn:queryServerUserDataWithThreeANDedConditionsForServerResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:queryServerUserDataWithThreeANDedConditionsForServerDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithOneConditionForServerDistinct">
<wsdl:documentation/>
      <wsdl:input message="ns1:queryServerUserDataWithOneConditionForServerDistinctRequest" wsaw:Action="urn:queryServerUserDataWithOneConditionForServerDistinct">
    </wsdl:input>
      <wsdl:output message="ns1:queryServerUserDataWithOneConditionForServerDistinctResponse" wsaw:Action="urn:queryServerUserDataWithOneConditionForServerDistinctResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:queryServerUserDataWithOneConditionForServerDistinctDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithTwoORedConditionsForServer">
<wsdl:documentation/>
      <wsdl:input message="ns1:queryServerUserDataWithTwoORedConditionsForServerRequest" wsaw:Action="urn:queryServerUserDataWithTwoORedConditionsForServer">
    </wsdl:input>
      <wsdl:output message="ns1:queryServerUserDataWithTwoORedConditionsForServerResponse" wsaw:Action="urn:queryServerUserDataWithTwoORedConditionsForServerResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:queryServerUserDataWithTwoORedConditionsForServerDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithTwoANDedConditionsForServerDistinct">
<wsdl:documentation/>
      <wsdl:input message="ns1:queryServerUserDataWithTwoANDedConditionsForServerDistinctRequest" wsaw:Action="urn:queryServerUserDataWithTwoANDedConditionsForServerDistinct">
    </wsdl:input>
      <wsdl:output message="ns1:queryServerUserDataWithTwoANDedConditionsForServerDistinctResponse" wsaw:Action="urn:queryServerUserDataWithTwoANDedConditionsForServerDistinctResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:queryServerUserDataWithTwoANDedConditionsForServerDistinctDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithOneConditionForServer">
<wsdl:documentation/>
      <wsdl:input message="ns1:queryServerUserDataWithOneConditionForServerRequest" wsaw:Action="urn:queryServerUserDataWithOneConditionForServer">
    </wsdl:input>
      <wsdl:output message="ns1:queryServerUserDataWithOneConditionForServerResponse" wsaw:Action="urn:queryServerUserDataWithOneConditionForServerResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:queryServerUserDataWithOneConditionForServerDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithThreeANDedConditionsForServerDistinct">
<wsdl:documentation/>
      <wsdl:input message="ns1:queryServerUserDataWithThreeANDedConditionsForServerDistinctRequest" wsaw:Action="urn:queryServerUserDataWithThreeANDedConditionsForServerDistinct">
    </wsdl:input>
      <wsdl:output message="ns1:queryServerUserDataWithThreeANDedConditionsForServerDistinctResponse" wsaw:Action="urn:queryServerUserDataWithThreeANDedConditionsForServerDistinctResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:queryServerUserDataWithThreeANDedConditionsForServerDistinctDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithTwoORedConditionsForServerDistinct">
<wsdl:documentation/>
      <wsdl:input message="ns1:queryServerUserDataWithTwoORedConditionsForServerDistinctRequest" wsaw:Action="urn:queryServerUserDataWithTwoORedConditionsForServerDistinct">
    </wsdl:input>
      <wsdl:output message="ns1:queryServerUserDataWithTwoORedConditionsForServerDistinctResponse" wsaw:Action="urn:queryServerUserDataWithTwoORedConditionsForServerDistinctResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:queryServerUserDataWithTwoORedConditionsForServerDistinctDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithThreeORedConditionsForServer">
<wsdl:documentation/>
      <wsdl:input message="ns1:queryServerUserDataWithThreeORedConditionsForServerRequest" wsaw:Action="urn:queryServerUserDataWithThreeORedConditionsForServer">
    </wsdl:input>
      <wsdl:output message="ns1:queryServerUserDataWithThreeORedConditionsForServerResponse" wsaw:Action="urn:queryServerUserDataWithThreeORedConditionsForServerResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:queryServerUserDataWithThreeORedConditionsForServerDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithThreeORedConditionsForServerDistinct">
<wsdl:documentation/>
      <wsdl:input message="ns1:queryServerUserDataWithThreeORedConditionsForServerDistinctRequest" wsaw:Action="urn:queryServerUserDataWithThreeORedConditionsForServerDistinct">
    </wsdl:input>
      <wsdl:output message="ns1:queryServerUserDataWithThreeORedConditionsForServerDistinctResponse" wsaw:Action="urn:queryServerUserDataWithThreeORedConditionsForServerDistinctResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:queryServerUserDataWithThreeORedConditionsForServerDistinctDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BAMServerUserDataQueryDSSOAP12Binding" type="ns1:BAMServerUserDataQueryDSPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryServerUserDataWithTwoANDedConditionsForServer">
      <soap12:operation soapAction="urn:queryServerUserDataWithTwoANDedConditionsForServer" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithThreeANDedConditionsForServer">
      <soap12:operation soapAction="urn:queryServerUserDataWithThreeANDedConditionsForServer" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithOneConditionForServerDistinct">
      <soap12:operation soapAction="urn:queryServerUserDataWithOneConditionForServerDistinct" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithTwoORedConditionsForServer">
      <soap12:operation soapAction="urn:queryServerUserDataWithTwoORedConditionsForServer" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithTwoANDedConditionsForServerDistinct">
      <soap12:operation soapAction="urn:queryServerUserDataWithTwoANDedConditionsForServerDistinct" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithOneConditionForServer">
      <soap12:operation soapAction="urn:queryServerUserDataWithOneConditionForServer" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithThreeANDedConditionsForServerDistinct">
      <soap12:operation soapAction="urn:queryServerUserDataWithThreeANDedConditionsForServerDistinct" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithTwoORedConditionsForServerDistinct">
      <soap12:operation soapAction="urn:queryServerUserDataWithTwoORedConditionsForServerDistinct" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithThreeORedConditionsForServer">
      <soap12:operation soapAction="urn:queryServerUserDataWithThreeORedConditionsForServer" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithThreeORedConditionsForServerDistinct">
      <soap12:operation soapAction="urn:queryServerUserDataWithThreeORedConditionsForServerDistinct" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BAMServerUserDataQueryDSHttpBinding" type="ns1:BAMServerUserDataQueryDSPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="queryServerUserDataWithTwoANDedConditionsForServer">
      <http:operation location="queryServerUserDataWithTwoANDedConditionsForServer"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithThreeANDedConditionsForServer">
      <http:operation location="queryServerUserDataWithThreeANDedConditionsForServer"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithOneConditionForServerDistinct">
      <http:operation location="queryServerUserDataWithOneConditionForServerDistinct"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithTwoORedConditionsForServer">
      <http:operation location="queryServerUserDataWithTwoORedConditionsForServer"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithTwoANDedConditionsForServerDistinct">
      <http:operation location="queryServerUserDataWithTwoANDedConditionsForServerDistinct"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithOneConditionForServer">
      <http:operation location="queryServerUserDataWithOneConditionForServer"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithThreeANDedConditionsForServerDistinct">
      <http:operation location="queryServerUserDataWithThreeANDedConditionsForServerDistinct"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithTwoORedConditionsForServerDistinct">
      <http:operation location="queryServerUserDataWithTwoORedConditionsForServerDistinct"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithThreeORedConditionsForServer">
      <http:operation location="queryServerUserDataWithThreeORedConditionsForServer"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithThreeORedConditionsForServerDistinct">
      <http:operation location="queryServerUserDataWithThreeORedConditionsForServerDistinct"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BAMServerUserDataQueryDSSOAP11Binding" type="ns1:BAMServerUserDataQueryDSPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryServerUserDataWithTwoANDedConditionsForServer">
      <soap:operation soapAction="urn:queryServerUserDataWithTwoANDedConditionsForServer" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithThreeANDedConditionsForServer">
      <soap:operation soapAction="urn:queryServerUserDataWithThreeANDedConditionsForServer" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithOneConditionForServerDistinct">
      <soap:operation soapAction="urn:queryServerUserDataWithOneConditionForServerDistinct" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithTwoORedConditionsForServer">
      <soap:operation soapAction="urn:queryServerUserDataWithTwoORedConditionsForServer" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithTwoANDedConditionsForServerDistinct">
      <soap:operation soapAction="urn:queryServerUserDataWithTwoANDedConditionsForServerDistinct" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithOneConditionForServer">
      <soap:operation soapAction="urn:queryServerUserDataWithOneConditionForServer" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithThreeANDedConditionsForServerDistinct">
      <soap:operation soapAction="urn:queryServerUserDataWithThreeANDedConditionsForServerDistinct" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithTwoORedConditionsForServerDistinct">
      <soap:operation soapAction="urn:queryServerUserDataWithTwoORedConditionsForServerDistinct" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithThreeORedConditionsForServer">
      <soap:operation soapAction="urn:queryServerUserDataWithThreeORedConditionsForServer" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryServerUserDataWithThreeORedConditionsForServerDistinct">
      <soap:operation soapAction="urn:queryServerUserDataWithThreeORedConditionsForServerDistinct" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BAMServerUserDataQueryDS">
    <wsdl:port name="HTTPEndpoint" binding="ns1:BAMServerUserDataQueryDSHttpBinding">
      <http:address location="http://monitor.cloud-test.wso2.com:9767/services/BAMServerUserDataQueryDS.HTTPEndpoint/"/>
    </wsdl:port>
    <wsdl:port name="SecureSOAP12Endpoint" binding="ns1:BAMServerUserDataQueryDSSOAP12Binding">
      <soap12:address location="https://monitor.cloud-test.wso2.com:9447/services/BAMServerUserDataQueryDS.SecureSOAP12Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="SecureHTTPEndpoint" binding="ns1:BAMServerUserDataQueryDSHttpBinding">
      <http:address location="https://monitor.cloud-test.wso2.com:9447/services/BAMServerUserDataQueryDS.SecureHTTPEndpoint/"/>
    </wsdl:port>
    <wsdl:port name="SOAP11Endpoint" binding="ns1:BAMServerUserDataQueryDSSOAP11Binding">
      <soap:address location="http://monitor.cloud-test.wso2.com:9767/services/BAMServerUserDataQueryDS.SOAP11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="SecureSOAP11Endpoint" binding="ns1:BAMServerUserDataQueryDSSOAP11Binding">
      <soap:address location="https://monitor.cloud-test.wso2.com:9447/services/BAMServerUserDataQueryDS.SecureSOAP11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="SOAP12Endpoint" binding="ns1:BAMServerUserDataQueryDSSOAP12Binding">
      <soap12:address location="http://monitor.cloud-test.wso2.com:9767/services/BAMServerUserDataQueryDS.SOAP12Endpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
