UsageService/resources/UsageService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.usage.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.usage.carbon.wso2.org" xmlns:ax2425="http://beans.usage.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation>UsageService</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.usage.carbon.wso2.org/xsd">
            <xs:complexType name="TenantUsage">
                <xs:sequence>
                    <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="numberOfUsers" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="registryBandwidthStatistics" nillable="true" type="ax2425:BandwidthStatistics"/>
                    <xs:element minOccurs="0" name="registryCapacity" nillable="true" type="ax2425:TenantDataCapacity"/>
                    <xs:element minOccurs="0" name="registryContentCapacity" type="xs:long"/>
                    <xs:element minOccurs="0" name="registryContentHistoryCapacity" type="xs:long"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="requestStatistics" nillable="true" type="ax2425:RequestStatistics"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceBandwidthStatistics" nillable="true" type="ax2425:BandwidthStatistics"/>
                    <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                    <xs:element minOccurs="0" name="totalIncomingBandwidth" type="xs:long"/>
                    <xs:element minOccurs="0" name="totalOutgoingBandwidth" type="xs:long"/>
                    <xs:element minOccurs="0" name="totalRegistryBandwidth" nillable="true" type="ax2425:BandwidthStatistics"/>
                    <xs:element minOccurs="0" name="totalRequestStatistics" nillable="true" type="ax2425:RequestStatistics"/>
                    <xs:element minOccurs="0" name="totalServiceBandwidth" nillable="true" type="ax2425:BandwidthStatistics"/>
                    <xs:element minOccurs="0" name="totalWebappBandwidth" nillable="true" type="ax2425:BandwidthStatistics"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="usageEntries" nillable="true" type="ax2425:UsageEntry"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="webappBandwidthStatistics" nillable="true" type="ax2425:BandwidthStatistics"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BandwidthStatistics">
                <xs:sequence>
                    <xs:element minOccurs="0" name="incomingBandwidth" type="xs:long"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="outgoingBandwidth" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TenantDataCapacity">
                <xs:sequence>
                    <xs:element minOccurs="0" name="registryContentCapacity" type="xs:long"/>
                    <xs:element minOccurs="0" name="registryContentHistoryCapacity" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RequestStatistics">
                <xs:sequence>
                    <xs:element minOccurs="0" name="faultCount" type="xs:long"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestCount" type="xs:long"/>
                    <xs:element minOccurs="0" name="responseCount" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UsageEntry">
                <xs:sequence>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PaginatedTenantUsageInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="numberOfPages" type="xs:int"/>
                    <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="tenantUsages" nillable="true" type="ax2425:TenantUsage"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PaginatedInstanceUsage">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="instanceUsages" nillable="true" type="ax2425:InstanceUsageStatics"/>
                    <xs:element minOccurs="0" name="numberOfPages" type="xs:int"/>
                    <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InstanceUsageStatics">
                <xs:sequence>
                    <xs:element minOccurs="0" name="instanceID" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="instanceURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="running" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="stopTime" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="usedTimeInSeconds" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.usage.carbon.wso2.org" xmlns:ax2426="http://beans.usage.carbon.wso2.org/xsd">
            <xs:import namespace="http://beans.usage.carbon.wso2.org/xsd"/>
            <xs:element name="UsageServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="UsageServiceException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="retrieveTenantUsages">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="yearMonth" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrieveTenantUsagesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2425:TenantUsage"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrieveTenantUsage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="yearMonth" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrieveTenantUsageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2425:TenantUsage"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrievePaginatedTenantUsages">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="yearMonth" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                        <xs:element minOccurs="0" name="entriesPerPage" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrievePaginatedTenantUsagesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2425:PaginatedTenantUsageInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrievePaginatedInstanceUsage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="yearMonth" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                        <xs:element minOccurs="0" name="entriesPerPage" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrievePaginatedInstanceUsageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2425:PaginatedInstanceUsage"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrieveInstanceUsage">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrieveInstanceUsageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2425:InstanceUsageStatics"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrieveCurrentTenantUsage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="yearMonth" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrieveCurrentTenantUsageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2425:TenantUsage"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getValidUsageEntry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="usage" nillable="true" type="ax2425:InstanceUsageStatics"/>
                        <xs:element minOccurs="0" name="yearMonth" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getValidUsageEntryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2425:InstanceUsageStatics"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="retrieveTenantUsageRequest">
    <wsdl:part name="parameters" element="ns:retrieveTenantUsage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveTenantUsagesRequest">
    <wsdl:part name="parameters" element="ns:retrieveTenantUsages">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveTenantUsageResponse">
    <wsdl:part name="parameters" element="ns:retrieveTenantUsageResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveCurrentTenantUsageResponse">
    <wsdl:part name="parameters" element="ns:retrieveCurrentTenantUsageResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrievePaginatedTenantUsagesResponse">
    <wsdl:part name="parameters" element="ns:retrievePaginatedTenantUsagesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrievePaginatedInstanceUsageResponse">
    <wsdl:part name="parameters" element="ns:retrievePaginatedInstanceUsageResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrievePaginatedTenantUsagesRequest">
    <wsdl:part name="parameters" element="ns:retrievePaginatedTenantUsages">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveTenantUsagesResponse">
    <wsdl:part name="parameters" element="ns:retrieveTenantUsagesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveInstanceUsageRequest">
    <wsdl:part name="parameters" element="ns:retrieveInstanceUsage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrievePaginatedInstanceUsageRequest">
    <wsdl:part name="parameters" element="ns:retrievePaginatedInstanceUsage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UsageServiceException">
    <wsdl:part name="parameters" element="ns:UsageServiceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getValidUsageEntryResponse">
    <wsdl:part name="parameters" element="ns:getValidUsageEntryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveInstanceUsageResponse">
    <wsdl:part name="parameters" element="ns:retrieveInstanceUsageResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getValidUsageEntryRequest">
    <wsdl:part name="parameters" element="ns:getValidUsageEntry">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveCurrentTenantUsageRequest">
    <wsdl:part name="parameters" element="ns:retrieveCurrentTenantUsage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UsageServicePortType">
    <wsdl:operation name="retrievePaginatedTenantUsages">
      <wsdl:input message="ns:retrievePaginatedTenantUsagesRequest" wsaw:Action="urn:retrievePaginatedTenantUsages">
    </wsdl:input>
      <wsdl:output message="ns:retrievePaginatedTenantUsagesResponse" wsaw:Action="urn:retrievePaginatedTenantUsagesResponse">
    </wsdl:output>
      <wsdl:fault name="UsageServiceException" message="ns:UsageServiceException" wsaw:Action="urn:retrievePaginatedTenantUsagesUsageServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getValidUsageEntry">
      <wsdl:input message="ns:getValidUsageEntryRequest" wsaw:Action="urn:getValidUsageEntry">
    </wsdl:input>
      <wsdl:output message="ns:getValidUsageEntryResponse" wsaw:Action="urn:getValidUsageEntryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveCurrentTenantUsage">
      <wsdl:input message="ns:retrieveCurrentTenantUsageRequest" wsaw:Action="urn:retrieveCurrentTenantUsage">
    </wsdl:input>
      <wsdl:output message="ns:retrieveCurrentTenantUsageResponse" wsaw:Action="urn:retrieveCurrentTenantUsageResponse">
    </wsdl:output>
      <wsdl:fault name="UsageServiceException" message="ns:UsageServiceException" wsaw:Action="urn:retrieveCurrentTenantUsageUsageServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveTenantUsages">
      <wsdl:input message="ns:retrieveTenantUsagesRequest" wsaw:Action="urn:retrieveTenantUsages">
    </wsdl:input>
      <wsdl:output message="ns:retrieveTenantUsagesResponse" wsaw:Action="urn:retrieveTenantUsagesResponse">
    </wsdl:output>
      <wsdl:fault name="UsageServiceException" message="ns:UsageServiceException" wsaw:Action="urn:retrieveTenantUsagesUsageServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveTenantUsage">
      <wsdl:input message="ns:retrieveTenantUsageRequest" wsaw:Action="urn:retrieveTenantUsage">
    </wsdl:input>
      <wsdl:output message="ns:retrieveTenantUsageResponse" wsaw:Action="urn:retrieveTenantUsageResponse">
    </wsdl:output>
      <wsdl:fault name="UsageServiceException" message="ns:UsageServiceException" wsaw:Action="urn:retrieveTenantUsageUsageServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveInstanceUsage">
      <wsdl:input message="ns:retrieveInstanceUsageRequest" wsaw:Action="urn:retrieveInstanceUsage">
    </wsdl:input>
      <wsdl:output message="ns:retrieveInstanceUsageResponse" wsaw:Action="urn:retrieveInstanceUsageResponse">
    </wsdl:output>
      <wsdl:fault name="UsageServiceException" message="ns:UsageServiceException" wsaw:Action="urn:retrieveInstanceUsageUsageServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrievePaginatedInstanceUsage">
      <wsdl:input message="ns:retrievePaginatedInstanceUsageRequest" wsaw:Action="urn:retrievePaginatedInstanceUsage">
    </wsdl:input>
      <wsdl:output message="ns:retrievePaginatedInstanceUsageResponse" wsaw:Action="urn:retrievePaginatedInstanceUsageResponse">
    </wsdl:output>
      <wsdl:fault name="UsageServiceException" message="ns:UsageServiceException" wsaw:Action="urn:retrievePaginatedInstanceUsageUsageServiceException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsageServiceSoap12Binding" type="ns:UsageServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="retrievePaginatedTenantUsages">
      <soap12:operation soapAction="urn:retrievePaginatedTenantUsages" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UsageServiceException">
        <soap12:fault name="UsageServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getValidUsageEntry">
      <soap12:operation soapAction="urn:getValidUsageEntry" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveCurrentTenantUsage">
      <soap12:operation soapAction="urn:retrieveCurrentTenantUsage" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UsageServiceException">
        <soap12:fault name="UsageServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveTenantUsages">
      <soap12:operation soapAction="urn:retrieveTenantUsages" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UsageServiceException">
        <soap12:fault name="UsageServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveTenantUsage">
      <soap12:operation soapAction="urn:retrieveTenantUsage" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UsageServiceException">
        <soap12:fault name="UsageServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveInstanceUsage">
      <soap12:operation soapAction="urn:retrieveInstanceUsage" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UsageServiceException">
        <soap12:fault name="UsageServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrievePaginatedInstanceUsage">
      <soap12:operation soapAction="urn:retrievePaginatedInstanceUsage" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UsageServiceException">
        <soap12:fault name="UsageServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UsageServiceHttpBinding" type="ns:UsageServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="retrievePaginatedTenantUsages">
      <http:operation location="retrievePaginatedTenantUsages"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getValidUsageEntry">
      <http:operation location="getValidUsageEntry"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveCurrentTenantUsage">
      <http:operation location="retrieveCurrentTenantUsage"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveTenantUsages">
      <http:operation location="retrieveTenantUsages"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveTenantUsage">
      <http:operation location="retrieveTenantUsage"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveInstanceUsage">
      <http:operation location="retrieveInstanceUsage"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrievePaginatedInstanceUsage">
      <http:operation location="retrievePaginatedInstanceUsage"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UsageServiceSoap11Binding" type="ns:UsageServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="retrievePaginatedTenantUsages">
      <soap:operation soapAction="urn:retrievePaginatedTenantUsages" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UsageServiceException">
        <soap:fault name="UsageServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getValidUsageEntry">
      <soap:operation soapAction="urn:getValidUsageEntry" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveCurrentTenantUsage">
      <soap:operation soapAction="urn:retrieveCurrentTenantUsage" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UsageServiceException">
        <soap:fault name="UsageServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveTenantUsages">
      <soap:operation soapAction="urn:retrieveTenantUsages" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UsageServiceException">
        <soap:fault name="UsageServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveTenantUsage">
      <soap:operation soapAction="urn:retrieveTenantUsage" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UsageServiceException">
        <soap:fault name="UsageServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveInstanceUsage">
      <soap:operation soapAction="urn:retrieveInstanceUsage" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UsageServiceException">
        <soap:fault name="UsageServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrievePaginatedInstanceUsage">
      <soap:operation soapAction="urn:retrievePaginatedInstanceUsage" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UsageServiceException">
        <soap:fault name="UsageServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsageService">
    <wsdl:port name="UsageServiceHttpsEndpoint" binding="ns:UsageServiceHttpBinding">
      <http:address location="https://cloud-test.wso2.com:9443/services/UsageService.UsageServiceHttpsEndpoint/"/>
    </wsdl:port>
    <wsdl:port name="UsageServiceHttpsSoap12Endpoint" binding="ns:UsageServiceSoap12Binding">
      <soap12:address location="https://cloud-test.wso2.com:9443/services/UsageService.UsageServiceHttpsSoap12Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="UsageServiceHttpsSoap11Endpoint" binding="ns:UsageServiceSoap11Binding">
      <soap:address location="https://cloud-test.wso2.com:9443/services/UsageService.UsageServiceHttpsSoap11Endpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
