CarbonAppUploader/resources/CarbonAppUploader.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://upload.application.carbon.wso2.org" xmlns:ax29="http://upload.application.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://upload.application.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation>CarbonAppUploader</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://upload.application.carbon.wso2.org/xsd">
            <xs:complexType name="UploadedFileItem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataHandler" nillable="true" type="xs:base64Binary"/>
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fileType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://upload.application.carbon.wso2.org" xmlns:ax210="http://upload.application.carbon.wso2.org/xsd">
            <xs:import namespace="http://upload.application.carbon.wso2.org/xsd"/>
            <xs:element name="uploadApp">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="fileItems" nillable="true" type="ax29:UploadedFileItem"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="uploadAppRequest">
    <wsdl:part name="parameters" element="ns:uploadApp">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadAppResponse">
  </wsdl:message>
  <wsdl:portType name="CarbonAppUploaderPortType">
    <wsdl:operation name="uploadApp">
      <wsdl:input message="ns:uploadAppRequest" wsaw:Action="urn:uploadApp">
    </wsdl:input>
      <wsdl:output message="ns:uploadAppResponse" wsaw:Action="urn:uploadAppResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CarbonAppUploaderHttpBinding" type="ns:CarbonAppUploaderPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="uploadApp">
      <http:operation location="uploadApp"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CarbonAppUploaderSoap12Binding" type="ns:CarbonAppUploaderPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="uploadApp">
      <soap12:operation soapAction="urn:uploadApp" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CarbonAppUploaderSoap11Binding" type="ns:CarbonAppUploaderPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="uploadApp">
      <soap:operation soapAction="urn:uploadApp" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarbonAppUploader">
    <wsdl:port name="CarbonAppUploaderHttpsSoap12Endpoint" binding="ns:CarbonAppUploaderSoap12Binding">
      <soap12:address location="https://appserver.cloud-test.wso2.com:9446/services/CarbonAppUploader.CarbonAppUploaderHttpsSoap12Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="CarbonAppUploaderHttpsSoap11Endpoint" binding="ns:CarbonAppUploaderSoap11Binding">
      <soap:address location="https://appserver.cloud-test.wso2.com:9446/services/CarbonAppUploader.CarbonAppUploaderHttpsSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="CarbonAppUploaderHttpsEndpoint" binding="ns:CarbonAppUploaderHttpBinding">
      <http:address location="https://appserver.cloud-test.wso2.com:9446/services/CarbonAppUploader.CarbonAppUploaderHttpsEndpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
