AdminManagementService/resources/AdminManagementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.mgt.admin.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.mgt.admin.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax25="http://util.mgt.admin.carbon.wso2.org/xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation>AdminManagementService</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.mgt.admin.carbon.wso2.org" xmlns:ax26="http://util.mgt.admin.carbon.wso2.org/xsd">
            <xs:import namespace="http://util.mgt.admin.carbon.wso2.org/xsd"/>
            <xs:element name="AdminManagementServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AdminManagementServiceException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="confirmUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="secretKey" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="confirmUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax25:ConfirmationBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.mgt.admin.carbon.wso2.org/xsd">
            <xs:complexType name="ConfirmationBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="data" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="redirectPath" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="AdminManagementServiceException">
    <wsdl:part name="parameters" element="ns:AdminManagementServiceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="confirmUserResponse">
    <wsdl:part name="parameters" element="ns:confirmUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="confirmUserRequest">
    <wsdl:part name="parameters" element="ns:confirmUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AdminManagementServicePortType">
    <wsdl:operation name="confirmUser">
      <wsdl:input message="ns:confirmUserRequest" wsaw:Action="urn:confirmUser">
    </wsdl:input>
      <wsdl:output message="ns:confirmUserResponse" wsaw:Action="urn:confirmUserResponse">
    </wsdl:output>
      <wsdl:fault name="AdminManagementServiceException" message="ns:AdminManagementServiceException" wsaw:Action="urn:confirmUserAdminManagementServiceException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminManagementServiceSoap11Binding" type="ns:AdminManagementServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="confirmUser">
      <soap:operation soapAction="urn:confirmUser" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AdminManagementServiceException">
        <soap:fault name="AdminManagementServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminManagementServiceHttpBinding" type="ns:AdminManagementServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="confirmUser">
      <http:operation location="confirmUser"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminManagementServiceSoap12Binding" type="ns:AdminManagementServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="confirmUser">
      <soap12:operation soapAction="urn:confirmUser" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AdminManagementServiceException">
        <soap12:fault name="AdminManagementServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminManagementService">
    <wsdl:port name="AdminManagementServiceHttpsSoap12Endpoint" binding="ns:AdminManagementServiceSoap12Binding">
      <soap12:address location="https://cloud-test.wso2.com:9443/services/AdminManagementService.AdminManagementServiceHttpsSoap12Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="AdminManagementServiceHttpsEndpoint" binding="ns:AdminManagementServiceHttpBinding">
      <http:address location="https://cloud-test.wso2.com:9443/services/AdminManagementService.AdminManagementServiceHttpsEndpoint/"/>
    </wsdl:port>
    <wsdl:port name="AdminManagementServiceHttpsSoap11Endpoint" binding="ns:AdminManagementServiceSoap11Binding">
      <soap:address location="https://cloud-test.wso2.com:9443/services/AdminManagementService.AdminManagementServiceHttpsSoap11Endpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
